#left .relativo .note .t-c.stats {
  width: 25%;
}

#left .relativo .note .t-c.verde,
#left .relativo .note .t-c.amarillo,
#left .relativo .note .t-c.rojo {
  width: 75%;
}

#left .relativo .note .t-c.verde ul,
#left .relativo .note .t-c.amarillo ul,
#left .relativo .note .t-c.rojo ul {
  width: 100%;
}

#left .relativo .note .t-c.verde ul li,
#left .relativo .note .t-c.amarillo ul li,
#left .relativo .note .t-c.rojo ul li {
  width: 31%;
}

.note .t-c.stats ul li {
  display: 'block';
}

.note .note-right ul li {
  width: 100%;
  display: inline-block;
}
.note .note-right ul li a span.right{

}


.half-b .padding {
  padding: 40px 20px;
}

/*.menu-middle {
  top: 40%;
}*/

#nueva-solicitud{
  opacity: 1;
  z-index: 999;
}

#nueva-solicitud.validar{
  width: 100%;
}

#right .relativo .full .padding p {
  text-align: justify;
  white-space: pre-line;
}

#right .relativo .full .padding p a {
  float: right;
}

#right .relativo .full .padding p br {
  clear: both;
}

#right .validar fieldset.segments ul li,
#right .validar fieldset.sections ul li {
  width: 120px;
}

#right .validar fieldset.segments ul li label,
#right .validar fieldset.sections ul li label{
  width: 100%;
}

.overflow {
  overflow-y: hidden;
  position: relative;
}
.ps-container .ps-scrollbar-y {
  background-color: #4a6a8c;
}

fieldset div.upload {
    width: 69px;
    height: 16px;
    margin: 16px 0 0 16px;
    background: url(../images/att.png) 0 0;
    overflow: hidden;
    display: inline-block;
    float: left;
}
fieldset div.upload:hover {
    background-position: 0 -17px;
}
fieldset div.upload input.att {
    display: block !important;
    width: 69px !important;
    height: 16px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

fieldset ul.upload-list {
  display:' inline-block'
}

fieldset ul.upload-list li {
  display: 'inline-table';
  width: 100% !important;
  padding: 4px 4px 2px 4px !important;
  border: 1px solid #e2e8ef;
  margin-bottom: 2px;
}

fieldset ul.upload-list li span {
  position: absolute;
  margin: 8px;
}

fieldset ul.upload-list li img {
  width: 32px !important;
  height: 32px !important;
}
