#left .relativo .note .t-c.stats {
  width: 25%;
}

#left .relativo .note .t-c.verde,
#left .relativo .note .t-c.amarillo,
#left .relativo .note .t-c.rojo {
  width: 75%;
}

#left .relativo .note .t-c.verde ul,
#left .relativo .note .t-c.amarillo ul,
#left .relativo .note .t-c.rojo ul {
  width: 100%;
}

#left .relativo .note .t-c.verde ul li,
#left .relativo .note .t-c.amarillo ul li,
#left .relativo .note .t-c.rojo ul li {
  width: 31%;
}

.note .t-c.stats ul li {
  display: 'block';
}

.note .note-right ul li {
  width: 100%;
  display: inline-block;
}
.note .note-right ul li a span.right{

}


.half-b .padding {
  padding: 40px 20px;
}

.menu-middle {
  top: 40%;
}
