<form name="form" data-ng-submit="create(form)">
  <fieldset class="odd">
    <ul class="even">
      <li>
        <input type="text" id="nombre" name="category" placeholder="Category" data-ng-model="category.name"/>
      </li>
    </ul>
  </fieldset>

  <fieldset class="odd">
    <ul>
      <li>
        <textarea id="descripcion" name="descripcion" placeholder="Comentario" data-ng-model="category.description"></textarea>
      </li>
    </ul>
  </fieldset>
  <fieldset class="blue">
    <ul>
      <li><button type="reset">Limpiar todos los Datos</button></li>
      <li><a href="javascript:{}" data-cancel>Cancelar</a></li>
    </ul>
    <button type="submit" class="boton1 round"><span></span>Crear clasificación</button>
  </fieldset>
</form>