<div id="nueva-solicitud" class="delete">
  <div class="row">
      <div class="relativo">
          <h2>Eliminar "lo que sea"</h2>
          <ul>
            <li class="hideshow"><a href="javascript:{}" data-sgk-down-modal><span class="down">_</span></a></li>
            <li class="close"><a href="javascript:{}" ng-click="closeModal()"><span class="close">X</span></a></li>
          </ul>
      </div>
  </div>
  <div class="table esconder">
    <div class="relativo">
      <form name="form", ng-submit="create(form)" novalidate>
        <div data-sgk-overflow class="overflow">
          <fieldset>
            <p><strong>Registro de elminación de "lo que sea"</strong></p>
            <p>Si Ud. desea eliminar "lo que sea" debe asignar las tareas a quién o dónde corresponda. Favor seleccione</p>
          </fieldset> 
          <fieldset class="odd">
            <div class="filtrodiv"><span></span>
              <select class="filtro" id="filtro" name="filtro">
                  <option value="0">Opcion 01</option>
                  <option value="1">Opcion 02</option>
                  <option value="2">Opcion 03</option>
                  <option value="3">Opcion 04</option>
              </select>
            </div>
            <!--input type="text" id="titulo" name="titulo" placeholder="Titulo de la solicitud" ng-model="solicitude.ticket.title" required/-->
            <textarea id="descripcion" name="descripcion" rows="10" placeholder="Descripción de eliminación" ng-model="solicitude.ticket.description" required>
            </textarea>
          </fieldset>
          <fieldset class="blue">
            <button type="submit" class="boton1 round"><span></span>Confirmar eliminación</button>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>