<div id="nueva-solicitud">
  <div class="row">
      <div class="relativo">
          <h2>Crear nueva solicitud</h2>
          <ul>
              <li class="hideshow"><a href="#;"><span class="down">_</span></a></li>
              <li class="close"><a href="#;"><span class="close">X</span></a></li>
          </ul>
      </div>
  </div>
  <div class="table esconder">
    <div class="relativo">
      <form>
        <div class="overflow">
          <fieldset class="odd">
            <input type="text" id="titulo" name="titulo" value="Título de la Solicitud" />
            <textarea id="descripcion" name="descripcion">Descripción de la Solicitud</textarea>
          </fieldset>
          <fieldset class="blue">
            <ul>
              <li><a href="#">Limpiar todos los Datos</a></li>
              <li><a href="#">Cancelar</a></li>
            </ul>
            <a href="#" class="boton1 round"><span></span>Generar Solicitud</a>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>
