
          <form>
                  <fieldset class="even">
                      <p>Ingreso de información de solicitud</p>
                      <ul>
                          <li class="dropdown"><span></span>
                              <select>
                                  <option>Prioridad</option>
                                  <option>Crítica</option>
                                  <option>Alta</option>
                                  <option>Media</option>
                                  <option>Baja</option>
                              </select>
                          </li>
                          <li class="dropdown"><span></span>
                              <select>
                                  <option>Responsable</option>
                                  <option>Crítica</optiion>
                                      <option>Alta</option>
                                      <option>Media</option>
                                      <option>Baja</option>
                              </select>
                          </li>
                          <li class="dropdown"><span></span>
                              <select>
                                  <option>Estado</option>
                                  <option>Por Validar</option>
                                  <option>Espera Proveedor</option>
                                  <option>En Progreso</option>
                                  <option>En Espera</option>
                                  <option>Atrasadas</option>
                                  <option>En Pausa</option>
                                  <option>Finalizadas</option>
                              </select>
                          </li>
                      </ul>
                  </fieldset>
                  <fieldset class="odd">
                      <p>Seleccionar segmentos a los que aplica la solicitud</p>
                      <ul>
                          <li class="lab"><label>Personas</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Negocios</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Empresas</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                      </ul>
                  </fieldset>
                  <fieldset class="even">
                      <p>Seleccionar secciones a los que aplica la solicitud</p>
                      <ul>
                          <li class="lab"><label>Tel. Móvil</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Dúos y Trios</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Tel. Hogar</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Club Movistar</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Internet</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Equipos</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Cen. de Ayuda</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Suc. Virtual</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Televisión</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                      </ul>
                  </fieldset>
                  <fieldset class="odd">
                      <p>Seleccionar Personas Involucradas Movistar</p>
                      <ul>
                          <li class="lab"><label>Usuario 01</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 02</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 03</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 04</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 05</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 06</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 07</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 08</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 09</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                      </ul>
                  </fieldset>
                  <fieldset class="even">
                      <p>Seleccionar Personas Involucradas Ingenia</p>
                      <ul>
                          <li class="lab"><label>Usuario 01</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 02</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 03</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 04</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 05</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 06</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 07</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 08</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                          <li class="lab"><label>Usuario 09</label></li>
                          <li class="che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></li>
                      </ul>
                  </fieldset>
          </form>
