<div class="relativo" ng-if="solicitude">
	<div class="overflow" style="overflow: auto">
		<div class="detalle bkg">

			<div class="row">
				<div class="first last">
					<div class="col-8">
						<div class="code">
							<span>Code: {{ solicitude.code }}</span>
						</div>
						<ul class="estados">
							<li class="ico" ng-class="solicitude.state[role] | StateIcons">
								<span></span> {{ solicitude.state[role] | StateSolicitude }}
							</li>
							<li class="ico">
								<i class="fa fa-calendar-o"> Sol. {{ solicitude.createdAt | DateFormat }}</i>
							</li>
							<li class="ico" ng-if="solicitude.priority" ng-class="solicitude.priority | PriorityIcons">
								<span></span>
								<div class="dropdown" ng-show="edit_priority()">
									<span></span>
									<select ng-model="solicitude.priority" name="priority" ng-options="p.id as p.name for p in priorities" ng-change="update_priority()"></select>
								</div>
								<p ng-hide="edit_priority()">{{ solicitude.priority | Priority }}</p>
							</li>
							<li class="ico" ng-if="solicitude.duration && !solicitude.pausedAt">
								<i class="fa fa-calendar-o"> {{ solicitude.duration / 60000 }} min.</i>
							</li>
							<li class="ico" ng-if="solicitude.duration && !solicitude.pausedAt" >
								<i class="fa fa-clock-o" data-sgk-duration data-start="{{solicitude.startedAt}}" data-duration="{{solicitude.duration}}"></i>
							</li>
						</ul>
					</div>
					<div class="col-5" data-sgk-actions="{{ solicitude.state.type }}">
						<!-- <ul class="btnes">
							<li class="btn pau"><a href="">Pausar</a></li>
							<li class="btn rev"><a href="">Enviar a Revisión</a></li>
						</ul> -->
					</div>
				</div>
			</div><!--/ .row /-->

			<div class="row">
				<div class="first">
					<div class="col-7">
						<div class="info">

							<ul class="info-detalle">
								<li>
									<span>Solicitante:</span>
									<a href="javascript:{}" ng-click="openProfile('applicant')" style="text-decoration: underline;">
										{{ solicitude.applicant.profile.firstName }} {{ solicitude.applicant.profile.lastName }}
									</a>
								</li>
								<li ng-if="solicitude.responsible">
									<span>Responsable:</span>
									<a href="javascript:{}" ng-click="openProfile('responsible')" style="text-decoration: underline;">
										{{ solicitude.responsible.profile.firstName }}  {{ solicitude.responsible.profile.lastName }} ({{ solicitude.responsible.role | InvolvedRole }})
									</a>
								</li>
								<li ng-if="solicitude.provider">
									<span>Proveedor:</span>
									<a href="javascript:{}" ng-click="openProfile('provider')" style="text-decoration: underline;">
										{{ solicitude.provider.profile.company }} ({{ solicitude.provider.profile.firstName }} {{ solicitude.provider.profile.lastName }})
									</a>
								</li>
							</ul>
							<ul class="info-detalle">
								<li ng-if="solicitude.ticket.segments">
									<span>Segmento(s):</span>
									<ul class="segments">
										<li ng-repeat="s in solicitude.ticket.segments">
											<span>{{ s.type }}:</span>
											{{ s.sections.join(', ') }}
										</li>
									</ul>
								</li>
							</ul>
							<ul class="info-detalle">
								<li ng-if="solicitude.ticket.category">
									<span>Categoría:</span>
									{{ solicitude.ticket.category.name }}
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div><!--/ .row /-->

			<div class="row">
				<div class="info-detalle">
					<h1>{{ solicitude.ticket.title }}</h1>

					<iframe frameborder="0" data-sgk-iframe-description="{{htmlTrusted()}}"></iframe>

				</div>
			</div><!--/ .row /-->

			<div class="row">
				<div class="first last">
					<ul class="files">
						<li ng-repeat="d in attachments">
							<a href="{{ d.url }}"  download>
								enviado por {{ d.createdBy.profile.firstName }} {{ d.createdBy.profile.lastName }}
								<div>
									<span class="file"><span>{{ d.name }}</span></span>
									<span class="download"></span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div><!--/ .row /-->

		</div>

		<div class="row" ng-if="showCompletedAlert()">
			<div class="detalle bkg completed">
				<p>Solicitud completada</p>
			</div>
		</div>

		<div class="row" ng-if="showCanceledAlert()">
			<div class="detalle bkg canceled">
				<p>Solicitud cancelada</p>
			</div>
		</div>

		<div class="row">
			<div class="detalle bkg">
				<ul id="comment-tabs" ng-class="{alert: !showCommentForm()}">
					<li ng-repeat="type in comment.types" ng-class="{ active: active_tab($index, type.id, type.name), last: $index == (comment.types.length-1) }">
						<a ui-sref="solicitude.comments({ type: type.id })" ui-sref-opts="{reload: true}"><span>{{ comment[type.id].length }}</span>{{ type.name }}</a>
					</li>
				</ul>

				<div class="comments" id="comment-form" ng-show="showCommentForm()">
			    <form name="form" ng-submit="addComment(form)" ng-class="{ submitted: submitted && form.$invalid }" novalidate>
		        <textarea class="round" name="message" rows="5" ng-model="_comment.message" data-sgk-ckeditor data-sgk-ckeditor-height="80" placeholder="{{comment_form_placeholder}}"></textarea>
		        <div class="message-error" ng-show="submitted && form.message.$error.required">El campo es requerido.</div>
		        <fieldset>
		          <input class="submit boton1 round" type="submit" value="Enviar">
		        </fieldset>
		        <fieldset>
		          <div data-sgk-uploader-multi="{{ solicitude._id }}" data-sgk-type="comments" sgk-position="buttom" ng-model="_comment.attachments"></div>
		        </fieldset>
			    </form>
				</div>

			</div>
		</div>

		<div class="row">

			<div class="detalle bkg" ng-repeat="c in comments" id="comments-detail">
				<div class="row">
					<div class="first">
						<div class="comments">
							<div class="col-3">
								<div class="user">
									<div class="avatar">
										<span><img src="images/avatar-user.png" ng-src="{{ c.createdBy.profile.avatar || 'images/avatar-user.png' }}"></span>
									</div>
									<div class="username">
										<span>{{ c.createdBy.profile.firstName }} {{ c.createdBy.profile.lastName }}</span>
										creado el: {{ c.createdAt | DateFormat }}
									</div>
								</div>
							</div>
							<div class="col-9">
								<iframe frameborder="0" data-sgk-iframe-description="{{commentHtmlTrusted(c.message)}}"></iframe>
							</div>
						</div>
						<div class="comments">
							<div class="col-3"></div>
							<div class="col-9">
								<div class="first last">
									<ul class="files">
										<li ng-repeat="att in c.attachments">
											<a href="{{ att.url }}" download>
												<div>
													<span class="file"><span class="ng-binding">{{ att.name }}</span></span>
													<span class="download"></span>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>










		<!-- subtareas -->
		<div class="row" ng-if="false">
			<div class="detalle bkg">
				<div class="row">
					<div class="header">
						<h2>Sub-tareas</h2>
					</div>
					<div class="first">
						<div class="comments" id="form-task">
							<div class="col-8">
		            <form name="form" ng-submit="addTask(form)">
				            <textarea class="round" name="desc" rows="2" ng-model="task.content" required></textarea>

										<div ng-if="solicitude.state.type == 'PROCCESS'">
											<label for="duration">Minutos adicinales para la tarea:</label>
											<input type="number" name="duration" name="duration" ng-model="task.duration" placeholder="Minutos" min="1" max="15000" required>
											<div class="message-error" ng-show="submitted && form.duration.$error.required">El campo prioridad es requerido.</div>
											<div class="message-error" ng-show="submitted && (form.duration.$error.min || form.duration.$error.max)">
													El rando de minutos es de 15 min a 240 min.
											</div>
										</div>

				            <fieldset>
				                <input class="submit boton1 round" type="submit" value="Agregar">
				            </fieldset>
				            <fieldset>
				              <div data-sgk-uploader-multi="{{ solicitude._id }}" data-sgk-type="tasks" sgk-position="buttom" ng-model="solicitude._attachments_tasks"></div>
				            </fieldset>
				        </form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row" ng-if="false">
			<div id="task_{{ t._id }}" class="detalle bkg" ng-repeat="t in tasks">
				<div class="row">
					<div class="first last">
						<!-- <p class="nivel" ng-show="solicitude.tasks">Nivel de avance 50%</p> -->
				    <div class="tasks"><!-- contenedor para subtarea -->
				        <div class="dato">
				            <div class="table">
				                <div class="t-c che">
				                  <span class="opt-check left" ng-class="{active: t.check}" data-sgk-check ng-click="toggleCheck(t._id)"></span>
				                  <input class="hide" type="checkbox" id="check_todos">
				                </div>
				                <div class="t-c">
				                    <p class="bold">
				                        {{ t.content }}
				                    </p>
				                    <ul>
							                <li ng-repeat="_att in t.attachments">
							                    <a href="{{ _att.link }}" download>{{ _att.name }}</a>
							                </li>
							              </ul>
				                </div>
												<div class="t-c" ng-if="t.duration">
													+ {{ t.duration / 60000 }} min.
												</div>
				            </div>
				            <!-- <a href="javascript:{}">Activar solicitud</a> -->
				        </div>
				    </div>

				    <div data-sgk-comment-task="{{ t._id }}" data-sgk-comment-task-solicitude="{{ solicitude._id }}"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
