<div class="relativo">
	<div class="overflow" data-sgk-scroll>
		<div class="detalle bkg">
			
			<div class="row">
				<div class="first">
					<div class="col-7">
						<div class="code">
							<span>Code: 2fg533</span>
						</div>
						<ul class="estados">
							<li class="icon pro"><span></span> Proceso</li>
							<li class="icon sol"><span></span> Sol. Fecha Ini. Fecha</li>
							<li class="icon baj"><span></span> Baja</li>
							<li class="icon ter"><span></span> en 14 minutos</li>
						</ul>
					</div>
					<div class="col-5">
						<ul class="btnes">
							<li class="btn pau"><a href="">Pausar</a></li>
							<li class="btn rev"><a href="">Enviar a Revisión</a></li>
						</ul>
					</div>
				</div>
			</div><!--/ .row /-->

			<div class="row">
				<div class="first">
					<div class="col-7">
						<ul class="info-detalle">
							<li><span>Segmento:</span> Personas</li>
							<li><span>Solicitante:</span> Andrés Espinace</li>
							<li><span>Proveedor:</span> Ingenia</li>
							<li><span>Categoría:</span> Test</li>
						</ul>
					</div>
					<div class="col-5">
						<div class="inv">
							<p>Involucrados:</p>
							<ul>
								<li>Andrés Espinace</li>
								<li>Néstor Bustamante</li>
								<li>Hanns Peña</li>
								<li>Manuel Monsalve</li>
							</ul>	
						</div>
					</div>
				</div>
			</div><!--/ .row /-->

			<div class="row">
				<div class="info-detalle">
					<h1>Lorem ipsum dolor sit amet</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lorem neque, posuere at suscipit eu, tempus eget velit. Cras eros libero, varius ac rutrum sed, euismod non felis. Pellentesque accumsan faucibus arcu sit amet sodales. Fusce quis nisl eu arcu semper convallis. Nulla vitae pellentesque nulla. Sed nisl justo, pellentesque ut tellus a, volutpat ornare purus. Aenean quis accumsan nisl, ac viverra mi. Aenean pharetra augue enim, vitae consequat urna suscipit eget. Donec dignissim magna sit amet elementum porta. Vestibulum vitae volutpat arcu. Donec vulputate ligula hendrerit laoreet rutrum. Sed id malesuada quam. Donec tristique justo orci. Duis suscipit, dui sit amet blandit tincidunt, quam tortor cursus libero, nec varius augue erat non arcu.</p>
					<p>Pellentesque quis fringilla odio, ac vestibulum est. Sed pulvinar libero eget turpis ornare, sit amet imperdiet enim bibendum. Curabitur eu luctus ligula, at volutpat nunc. Cras venenatis, ante nec tempor mollis, magna tortor pellentesque odio, ac faucibus est massa in tortor. Integer metus elit, posuere ut arcu quis, mollis dignissim libero. Etiam quis sem quis orci tincidunt fermentum ac eget ligula. Ut eu felis mi. Vivamus consectetur sagittis tortor eu aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas non cursus tortor, nec cursus odio.</p>
					<p>Duis feugiat tristique nisi, eget dapibus odio venenatis quis. Aliquam molestie, lorem ut interdum adipiscing, magna eros pellentesque risus, ut malesuada nunc ligula dignissim diam. Curabitur dapibus pellentesque elit, sed luctus turpis. Sed lacinia turpis risus, in ullamcorper nibh placerat ac. Praesent rutrum lectus et ligula pretium congue. Vivamus vel neque id felis laoreet lacinia nec vel neque. Ut ut lacinia lectus, non consequat nulla. Vestibulum in nisl ante.</p>
				</div>
			</div><!--/ .row /-->

			<div class="row">
				<div class="first">
					<ul class="files">
						<li>
							<a href="#;">
								enviado por
								<div>
									<span class="file">Nombre archivo</span>
									<span class="download"></span>
								</div>
							</a>
						</li>
						<li>
							<a href="#;">
								enviado por
								<div>
									<span class="file">Nombre archivo</span>
									<span class="download"></span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div><!--/ .row /-->
			
			<div class="row">
				<div class="first">
					<div class="comments">
						<p><strong>2 comentarios</strong></p>
						<div class="col-5">

							<div class="user">
								<div class="avatar">
									<img src="images/avatar-user.png">
								</div>
								<div>
									Nombre
								</div>
							</div>

						</div>
						<div class="col-7"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>