<div data-sgk-alerts></div>
<div class="relativo">
	<div class="overflow" style="overflow: auto;">

		<div class="lista">
			<ul data-sgk-sla>
				<!--/ FOREACH /-->
				<li class="listar" ng-class="s.sla" ng-repeat="s in solicitudes" data-sgk-role="search" data-sgk-search="{{ s.code }} {{ s.createdBy.profile.firstName }} {{ s.createdBy.profile.lastName }} {{ s.ticket.tags }} {{ s.ticket.title }}"  data-id="{{ s._id }}">
					<a ui-sref="solicitude({ id: s._id })" data-sgk-active-hover>
						<div class="row">
							<div class="first">
								<div class="col-7">
									<div class="code">
										<span>Code: {{ s.code }}</span> {{ s.ticket.title }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="first">
								<div class="second">
									<div class="col-7">
										<ul class="estados">
											<li class="ico" ng-class="s.state[role] | StateIcons">
												<span></span> {{ s.state[role] | StateSolicitude }}
											</li>
											<li class="ico">
												<span></span>
												Sol. {{ s.createdAt | DateFormat }}
											</li>
											<li class="ico" ng-if="s.startedAt">
												<span></span>
												Ini. {{ s.startedAt | DateFormat }}
											</li>
											<li class="ico" ng-if="s.priority" ng-class="s.priority | PriorityIcons">
												<span></span> {{ s.priority | Priority }}
											</li>
											<li class="ico" ng-if="s.duration && !s.pausedAt">
												<span></span>
												<p data-sgk-duration ng-model="s.endedAt"></p>
											</li>
										</ul>
									</div>
									<div class="col-5">
										<ul class="detalles">
											<li class="ico com" ng-if="show_comments(solicitude._id)">
												<span></span>Comentarios
											</li>
											<li class="ico doc" ng-if="s.attachments.length > 0">
												<span></span>Documentos
											</li>
											<li class="ico inv" ng-if="s.involved.length > 0">
												<span></span>Responsables
											</li>
											<li class="ico sub" ng-if="s.tasks.length > 0">
												<span></span>Sub Tareas
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="txtdetalle" data-sgk-resume-paragraphs="{{ s.ticket.description }}"></div>
						</div>
					</a>
				</li>
				<!--/ FIN FOREACH /-->

	</div><!--/ .overflow /-->
</div><!--/ .relativo /-->
