<div class="relativo">
	<div class="overflow" data-sgk-scroll>

		<div class="lista">
			<ul ng-if="solicitudes">
				<!--/ FOREACH /-->
				<li class="listar" ng-class="s.sla" ng-repeat="s in solicitudes" data-sgk-role="search" data-sgk-search="{{ s.code }} {{ s.createdBy.profile.firstName }} {{ s.createdBy.profile.lastName }} {{ s.ticket.tags }} {{ s.ticket.title }}"  data-id="{{ s._id }}">
					<a ui-sref="solicitude.detail({ id: s._id })">
						<div class="row">
							<div class="first">
								<div class="col-7">
									<div class="code">
										<span>Code: {{ s.code }}</span> {{ s.ticket.title }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="second">
								<div class="col-7">
									<ul class="estados">
										<li class="icon" ng-class="s.state[role] | StateIcons">
											<span></span> {{ s.state[role] | StateSolicitude }}
										</li>
										<li class="icon sol">
											<span></span> 
											Sol. {{ s.createdAt | DateFormat }}
										</li>
										<li ng-if="s.startedAt" class="icon sol">
											<span></span> 
											Ini. {{ s.startedAt | DateFormat }}
										</li>
										<li ng-if="s.priority" class="icon" ng-class="s.priority | PriorityIcons">
											<span></span> {{ s.priority | Priority }}
										</li>
										<li ng-if="s.duration && !s.pausedAt" class="icon ter">
											<span></span> 
											<p data-sgk-duration ng-model="solicitude.endedAt"></p>
										</li>
									</ul>
								</div>
								<div class="col-5">
									<ul class="detalles">
										<li ng-if="s.comments.length > 0" class="icon com">
											<span></span>Comentarios
										</li>
										<li ng-if="s.attachments.length > 0" class="icon doc">
											<span></span>Documentos
										</li>
										<li ng-if="s.involved.length > 0" class="icon inv">
											<span></span>Involucrados
										</li>
										<li ng-if="s.tasks.length > 0" class="icon sub">
											<span></span>Sub Tareas
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="txtdetalle">
								{{ s.ticket.description }}
							</div>
						</div>
					</a>
				</li>
				<!--/ FIN FOREACH /-->

				<!--/ ACTIVO /-->
				<li class="listar verde active">
					<a href="#;">
						<div class="row">
							<div class="first">
								<div class="col-7">
									<div class="code">
										<span>Code: 2fg533</span> Nombre
									</div>
									<ul class="estados">
										<li class="icon pro"><span></span> Proceso</li>
										<li class="icon sol"><span></span> Sol. Fecha Ini. Fecha</li>
										<li class="icon baj"><span></span> Baja</li>
										<li class="icon ter"><span></span> en 14 minutos</li>
									</ul>
								</div>
								<div class="col-5">
									<ul class="detalles">
										<li class="icon com"><span></span>Comentarios</li>
										<li class="icon doc"><span></span>Documentos</li>
										<li class="icon inv"><span></span>Involucrados</li>
										<li class="icon sub"><span></span>Sub Tareas</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="txtdetalle">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</a>
				</li>
				<!--/ FIN ACTIVO /-->
			</ul>
		</div><!--/ .lista /-->

	</div><!--/ .overflow /-->
</div><!--/ .relativo /-->
