<div data-sgk-alerts></div>
<div class="relativo">
	<div class="overflow" style="overflow: auto;">

	<div class="paginator">
		<pagination total-items="solicitudes.totalItems" items-per-page="15" ng-model="currentPage" ng-change="pageChanged()" previous-text="Anterior" next-text="Siguiente" max-size="10"></pagination>
	</div>

		<div class="lista">
			<ul data-sgk-sla>
				<!--/ FOREACH /-->
				<li class="listar" ng-class="s.sla" ng-repeat="s in solicitudes.solicitudes" data-sgk-role="search" data-sgk-search="{{ s.code }} {{ s.createdBy.profile.firstName }} {{ s.createdBy.profile.lastName }} {{ s.ticket.tags }} {{ s.ticket.title }}"  data-id="{{ s._id }}">
					<a ng-click="go(s._id)" data-sgk-active-hover>
						<div class="row">
							<div class="first">
								<div class="col-7-s">
									<div class="code">
										<span>Code: {{ s.code }}</span> {{ s.ticket.title }}
										<i class="fa fa-archive fa-lg" ng-click="archived(s._id)" ng-show="archivedShow(s.state)"></i>
										<i class="fa fa-trash fa-lg" ng-click="delete(s._id)" ng-show="deleteShow(s.applicant, s.state)"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="first">
								<div class="second">
									<div class="col-8">
										<ul class="estados">
											<li class="ico" ng-class="s.state[role] | StateIcons">
												<span></span> {{ s.state[role] | StateSolicitude }}
											</li>
											<li class="ico">
												<i class="fa fa-calendar-o"> Sol. {{ s.createdAt | DateFormat }}</i>
											</li>
											<li class="ico" ng-if="s.startedAt">
												<i class="fa fa-calendar-o"> Ini. {{ s.startedAt | DateFormat }}</i>
											</li>
											<li class="ico" ng-if="s.priority" ng-class="s.priority | PriorityIcons">
												<span></span> {{ s.priority | Priority }}
											</li>
											<li class="ico" ng-if="s.duration && !s.pausedAt">
												<i class="fa fa-calendar-o"> {{ s.duration / 60000 }} min.</i>
											</li>
											<li class="ico" ng-if="s.duration && !s.pausedAt">
												<i class="fa fa-clock-o" data-sgk-duration data-start="{{s.startedAt}}" data-duration="{{s.duration}}"></i>
											</li>
										</ul>
									</div>
									<div class="col-4">
										<ul class="detalles">
											<li class="ico com" ng-if="show_comments(solicitude._id)">
												<span></span>Comentarios
											</li>
											<li class="ico doc" ng-if="s.attachments.length > 0">
												<span></span>Documentos
											</li>
											<li class="ico inv" ng-if="s.involved.length > 0">
												<span></span>Responsables
											</li>
											<li class="ico sub" ng-if="s.tasks.length > 0">
												<span></span>Sub Tareas
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="txtdetalle" data-sgk-resume-paragraphs="{{ s.ticket.description | htmToPlainText }}"></div>
						</div>
					</a>
				</li>
				<!--/ FIN FOREACH /-->

	</div><!--/ .overflow /-->
</div><!--/ .relativo /-->
