<div data-sgk-resize data-min-width="32" data-left-width="537" data-type="solicitude"></div>
<div id="side" data-ng-switch="module">
  <div class="relativo">
    <div id="perfil" class="sidebox">
      <div data-ng-include="'partials/_profile'"></div><!-- perfil sidebox -->
    </div>

    <div id="crear" class="sidebox" data-sgk-permission="solicitude" data-permission-value="create">
      <a class="boton1 round" href="javascript:{}" data-ng-click="showModals('newSolicitude')">
        <span></span>Crear nueva solicitud
      </a>
    </div>

    <div class="overflow" ng-controller="SidebarCtrl">
      <div ng-include="'partials/solicitude/sidebar/_state'"></div>
      <div ng-include="'partials/solicitude/sidebar/_priority'"></div>
      <div ng-include="'partials/solicitude/sidebar/_involved'"></div>
      <div ng-include="'partials/solicitude/sidebar/_category'"></div>
  </div>
  </div>
</div><!-- side -->

<div id="main" class="ui-widget-content">
  <div class="wrap">

    <div id="top">
      <div data-ng-include="'partials/_logo'"></div>
    </div>

    <div id="menu-admin">
      <div data-ng-include="'partials/_menu'"></div>
    </div>

    <div id="left" class="col">
      <div class="relativo ui-widget ui-widget-content">

        <div ng-include="'partials/solicitude/left/_filter'"></div>
        <div ng-include="'partials/solicitude/left/_list'" ng-controller="SolicitudeCtrl"></div>

      </div>
    </div><!--// #left //-->

    <div id="right" class="col ui-widget ui-widget-content">
      <div data-sgk-alerts></div>
      <div class="relativo" ng-controller="SolicitudeShowCtrl">

        <div ng-switch="viewDetail">
          <div ng-switch-default>
            <div ng-include="'partials/solicitude/right/_filter'"></div>
            <div class="full-heigth">
              <div class="half-a">
                <div class="overflow">
                  <div ng-include="'partials/solicitude/right/_detail'"></div>
                </div>
              </div>
              <div class="half-b" ng-switch="tabs">
                <div class="overflow">
                  <div ng-switch-default>
                    <div ng-include="'partials/solicitude/right/_comments'"></div>
                  </div>
                  <div ng-switch-when="documents">
                    <div ng-include="'partials/solicitude/right/_documents'"></div>
                  </div>
                  <div ng-switch-when="involved">
                    <div ng-include="'partials/solicitude/right/_involved'"></div>
                  </div>
                  <div ng-switch-when="tasks">
                    <div ng-include="'partials/solicitude/right/_tasks'"></div>
                  </div>
                </div>

              </div>
              <div class="menu-middle">
                <div ng-include="'partials/solicitude/right/_menu'"></div>
              </div>
            </div>

            <div ng-include="'partials/solicitude/right/_commentForm'"></div>
          </div>

          <div ng-switch-when="updateByContentManager">
<!--             <div ng-include="'partials/solicitude/_updateByContentManager'"></div> -->
          </div>

        </div>

      </div><!-- relativo -->
    </div><!-- col right -->

  </div><!-- wrap -->

  <div id="search-form">
    <div data-ng-include="'partials/admin/_search'"></div>
  </div>

  <div data-ng-switch="modals">
    <div data-ng-switch-default>
    </div>
    <div ng-switch-when="newSolicitude" ng-controller="SolicitudeSaveCtrl">
      <div ng-include="'partials/solicitude/_new'"></div>
    </div>
  </div>

  <div ng-switch="masterModals">
    <div data-ng-switch-when="profileEdit" data-ng-controller="ProfileEditCtrl">
      <div data-ng-include="'partials/_profileEdit'"></div>
    </div>
  </div>

</div><!-- main -->
