<div data-sgk-resize></div>
<div id="side" data-ng-switch="module">
  <div class="relativo">
    <div id="perfil" class="sidebox">
      <div data-ng-include="'partials/_profile'"></div><!-- perfil sidebox -->
    </div>

    <div id="crear" class="sidebox">

    </div>

    <div data-ng-switch-default>

    </div>
  </div>
</div><!-- side -->

<div id="main" class="ui-widget-content"  data-ng-switch="module">
  <div class="wrap">

    <div id="top">
      <div data-ng-include="'partials/_logo'"></div>
    </div>

    <div id="menu-admin">
      <div data-ng-include="'partials/_menu'"></div>
    </div>

    <div id="left" class="col">
      <div class="relativo ui-widget ui-widget-content">
        



      </div>
    </div><!--// #left //-->

    <div id="right" class="col ui-widget ui-widget-content">
      <div data-sgk-alerts></div>
      <div class="relativo">


      </div><!-- relativo -->
    </div><!-- col right -->

  </div><!-- wrap -->

  <div id="search-form">
    <div data-ng-include="'partials/admin/_search'"></div>
  </div>

  <div data-ng-switch="modals">
    <div data-ng-switch-default>
    </div>
  </div>

  <div ng-switch="masterModals">
    <div data-ng-switch-when="profileEdit" data-ng-controller="ProfileEditCtrl">
      <div data-ng-include="'partials/_profileEdit'"></div>
    </div>
  </div>

</div><!-- main -->
