<div data-sgk-resize data-min-width="32" data-left-width="537" data-type="solicitude"></div>
<div id="side" data-ng-switch="module">
  <div class="thetable">
    <div class="therowAlt">
      <div class="thecell">
        <div id="perfil" class="sidebox">
          <div data-ng-include="'partials/_profile'"></div><!-- perfil sidebox -->
        </div>

        <div id="crear" class="sidebox" data-sgk-permission="solicitude" data-permission-value="create">
          <a class="boton1 round" href="javascript:{}" data-ng-click="showModals('newSolicitude')">
            <span></span>Crear nueva solicitud
          </a>
        </div>
      </div>
    </div>
    <div class="therow">
      <div class="thecell">
        <div class="relativo">
          <div data-sgk-overflow class="overflow" ng-controller="SidebarCtrl">
            <div ng-include="'partials/solicitude/sidebar/_state'"></div>
            <div ng-include="'partials/solicitude/sidebar/_priority'"></div>
            <div ng-include="'partials/solicitude/sidebar/_involved'"></div>
            <div ng-include="'partials/solicitude/sidebar/_category'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- side -->

<div id="main" class="ui-widget-content">
  <div class="wrap">

    <div id="top">
      <div data-ng-include="'partials/_logo'"></div>
    </div>

    <div id="menu-admin">
      <div data-ng-include="'partials/_menu'"></div>
    </div>

    <div id="left" class="col">
      <div class="relativo ui-widget ui-widget-content">

        <div ng-include="'partials/solicitude/left/_filter'"></div>
        <div ng-include="'partials/solicitude/left/_list'" ng-controller="SolicitudeCtrl"></div>

      </div>
    </div><!--// #left //-->

    <div id="right" class="col ui-widget ui-widget-content" ng-controller="SolicitudeShowCtrl">
      <div data-sgk-alerts></div>
      <div class="relativo altura" ng-switch="viewDetail">

          <div ng-include="'partials/solicitude/right/_filter'"></div>

          <div ng-switch-default>
            <div class="full-heigth" data-sgk-half>

              <div class="half-a" ng-switch="tabs">
                  <div ng-switch-default>
                    <div ng-include="'partials/solicitude/right/_detail'"></div>
                  </div>
                  <div ng-switch-when="comments">
                    <div ng-include="'partials/solicitude/right/_comments'"></div>
                  </div>                  <div ng-switch-when="documents">
                    <div ng-include="'partials/solicitude/right/_documents'"></div>
                  </div>
                  <div ng-switch-when="involved">
                    <div ng-include="'partials/solicitude/right/_involved'"></div>
                  </div>
                  <div ng-switch-when="tasks">
                    <div ng-include="'partials/solicitude/right/_tasks'"></div>
                  </div>
              </div>

              <div class="menu-middle">
                <div ng-include="'partials/solicitude/right/_menu'"></div>
              </div>

            </div>
          </div>

          <div ng-switch-when="updateByEditor">
            <div ng-include="'partials/solicitude/right/_updateByEditor'"></div>
          </div>
          <div ng-switch-when="updateByContentManager">
            <div ng-include="'partials/solicitude/right/_updateByContentManager'"></div>
          </div>

      </div><!-- relativo -->
    </div><!-- col right -->

  </div><!-- wrap -->

  <div id="search-form">
    <div data-ng-include="'partials/admin/_search'"></div>
  </div>

  <div data-ng-switch="modals">
    <div data-ng-switch-default>
    </div>
    <div ng-switch-when="newSolicitude" ng-controller="SolicitudeSaveCtrl">
      <div ng-include="'partials/solicitude/_new'"></div>
    </div>
  </div>

  <div ng-switch="masterModals">
    <div data-ng-switch-when="profileEdit" data-ng-controller="ProfileEditCtrl">
      <div data-ng-include="'partials/_profileEdit'"></div>
    </div>
  </div>

</div><!-- main -->