<fieldset class="odd">
  <input type="text" id="titulo" name="titulo" placeholder="Titulo de la solicitud" ng-model="solicitude.ticket.title" required/>
  <textarea id="descripcion" name="descripcion" rows="10" placeholder="Descripción de la Solicitud" ng-model="solicitude.ticket.description" required>
  </textarea>
</fieldset>
<fieldset>
  <ul class="upload-list">
  </ul>
  <div class="upload" data-sgk-upload-multi ng-model="solicitude.attachments">
    <input class="att" type="file" name="attachment" multiple>
  </div>
</fieldset>
<fieldset class="blue">
  <ul>
    <li><button type="reset">Limpiar todos los Datos</button></li>
    <li><a href="javascript:{}" ng-click="closeModal()">Cancelar</a></li>
  </ul>
  <button type="submit" class="boton1 round"><span></span>Generar Solicitud</button>
</fieldset>
        