<div class="overflow">

  <div id="estado" class="sidebox">
    <h3>Estado de Solicitudes</h3>
    <ul class="bold">
      <li>
        <a href="javascript:{}" ng-click="filter()">
          <div class="ico tod"></div>
          Todas
          <span class="round light">{{ groups.total }}</span>
        </a>
      </li>
      <li ng-repeat="state in states">
        <a href="javascript:{}" ng-click="filter(state)">
          <div class="ico" ng-class="state | StateIcons"></div>
          {{ state | StateSolicitude }}
          <span class="round light">{{ groups[state] || 0 }}</span>
        </a>
      </li>
    </ul>
  </div>




  <div data-sgk-states-filter></div>
  <div data-sgk-priorities-filter ng-if="currentUser.role !== 'CLIENT'"></div>
  <!-- <div data-sgk-involved-filter></div> -->
  <div data-sgk-categories-filter ng-if="currentUser.role !== 'CLIENT' && currentUser.role !== 'PROVIDER'"></div>
</div>