<a href="javascript:{}" class="sub-not" data-sgk-submenu-notifications ><img src="images/bell.png"/>
    <div class="cant">{{ notifications.length || 0}}</div>
</a>
<div id="submenu" class="notifications">
    <div id="notificacion" class="wrap round hide">
        <div class="tit-not">
            <span class="arrow"></span>
            <h3>Notificaciones</h3>
            <a href="javascript:{}">Ver todas</a>
        </div>
        <div class="wrap" ng-repeat="notify in notifications">
            <div class="t-c avatar">
                <img ng-src="{{ notify.from.profile.avatar || 'images/avatar-user.png' }}"/>
                <div class="avnotif"></div>
            </div>
            <div class="t-c">
                <a href="javascript:{}" class="cerrar">X</a>
                <p class="avatar bold">
                    <span>{{ notify.from.profile.firstName }} {{ notify.from.profile.lastName }}</span>
                    <span class="regular">{{ notify.from.role | RoleName }}</span>
                </p>
                <br>
                <p>{{ notify._type | Notification }}</p>
            </div>
        </div>
    </div><!-- notificaciones -->
</div>
