<a href="javascript:{}" class="sub-not" data-sgk-submenu-notifications ><img src="images/bell.png"/>
    <div class="cant">86</div>
</a>
<div id="submenu" class="notifications">
    <div id="notificacion" class="wrap round hide">
        <div class="tit-not">
            <span class="arrow"></span>
            <h3>Notificaciones</h3>
            <a href="#">Ver todas</a>
        </div>
        <div class="wrap">
            <div class="t-c avatar">
                <img src="images/img-user-female.jpg"/>
                <div class="avnotif"></div>
            </div>
            <div class="t-c">
                <a href="#" class="cerrar">X</a>
                <p class="avatar bold">
                    <span>Ana Espinoza</span>
                    <span class="regular">Jefe de Lorem Ipsum</span>
                </p>
                <p>Ha enviado nueva solicitud</p>
            </div>
        </div>
    </div><!-- notificaciones -->
</div>
