<a href="javascript:{}" data-sgk-submenu-options><img src="images/gear.png"/></a>
<div id="submenu" class="options">
    <div id="notificacion" class="wrap round hide">
        <div class="tit-not">
            <span class="arrow"></span>
            <h3>Opciones</h3>
        </div>
        <div class="wrap">
          <a href="javascript:{}" ng-click="showModals('profileEdit')" class="t-c">
            Editar perfil
          </a>
        </div>
        <div class="wrap">
          <a href="javascript:{}" ng-click="logout()" class="t-c">
            Salir
          </a>
        </div>
    </div><!-- notificaciones -->
</div>
