<div id="perfil" class="sidebox"> 
  <div class="t-c avatar"><img ng-src="{{ currentUser.avatar || '' }}"/><div class="avperfil"></div></div>                  
  <div class="t-c">
      <p>{{ currentUser.name }}</br><span>{{ currentUser.role | RoleName }}</span></p> 
      <ul class="adm">
          <li>
              <a href="#" class="sub-not"><img src="images/bell.png"/>
                  <div class="cant">86</div>
              </a>
              <div id="submenu">
                  <div id="notificacion" class="wrap round hide">
                      <div class="tit-not">
                          <span class="arrow"></span>
                          <h3>Notificaciones</h3>
                          <a href="#">Ver todas</a> 
                      </div>                            
                      <div class="wrap">                            
                          <div class="t-c avatar">
                              <img src="images/img-user-female.jpg"/>
                              <div class="avnotif"></div>
                          </div> 
                          <div class="t-c">
                              <a href="#" class="cerrar">X</a>
                              <p class="avatar bold">
                                  <span>Ana Espinoza</span>
                                  <span class="regular">Jefe de Lorem Ipsum</span>
                              </p>
                              <p>Ha enviado nueva solicitud</p>
                          </div>
                      </div>
                      <div class="wrap">                            
                          <div class="t-c avatar">
                              <img src="images/img-user-female.jpg"/>
                              <div class="avnotif"></div>
                          </div> 
                          <div class="t-c">
                              <a href="#" class="cerrar">X</a>
                              <p class="avatar bold">
                                  <span>Ana Espinoza</span>
                                  <span class="regular">Jefe de Lorem Ipsum</span>
                              </p>
                              <p>Ha enviado nueva solicitud</p>
                          </div>
                      </div>
                      <div class="wrap">                            
                          <div class="t-c avatar">
                              <img src="images/img-user-female.jpg"/>
                              <div class="avnotif"></div>
                          </div> 
                          <div class="t-c">
                              <a href="#" class="cerrar">X</a>
                              <p class="avatar bold">
                                  <span>Ana Espinoza</span>
                                  <span class="regular">Jefe de Lorem Ipsum</span>
                              </p>
                              <p>Ha enviado nueva solicitud</p>
                          </div>
                      </div>
                      <div class="wrap old">                            
                          <div class="t-c avatar">
                              <img src="images/img-user-female.jpg"/>
                              <div class="avnotif"></div>
                          </div> 
                          <div class="t-c">
                              <a href="#" class="cerrar">X</a>
                              <p class="avatar bold">
                                  <span>Ana Espinoza</span>
                                  <span class="regular">Jefe de Lorem Ipsum</span>
                              </p>
                              <p>Ha enviado nueva solicitud</p>
                          </div>
                      </div>
                      <div class="wrap old">                            
                          <div class="t-c avatar">
                              <img src="images/img-user-female.jpg"/>
                              <div class="avnotif"></div>
                          </div> 
                          <div class="t-c">
                              <a href="#" class="cerrar">X</a>
                              <p class="avatar bold">
                                  <span>Ana Espinoza</span>
                                  <span class="regular">Jefe de Lorem Ipsum</span>
                              </p>
                              <p>Ha enviado nueva solicitud</p>
                          </div>
                      </div>
                  </div><!-- notificaciones -->
              </div><!-- submenu -->

          </li>
          <li><a href="#"><img src="images/gear.png"/></a></li>
      </ul>
  </div>
</div>