<div id="perfil" class="sidebox">
  <div class="t-c avatar"><img ng-src="{{ currentUser.avatar || '' }}"/><div class="avperfil"></div></div>
  <div class="t-c">
      <p>{{ currentUser.name }}</br><span>{{ currentUser.role | RoleName }}</span></p>
      <ul class="adm">
          <li ng-controller="NotificationsCtrl">
            <div ng-include="'partials/_notifications'"></div>
          </li>
          <li ng-controller="OptionsCtrl">
            <div ng-include="'partials/_options'"></div>
          </li>
      </ul>
  </div>
</div>
