<div class="t-c p-avatar">
  <div>
    <span>
      <img src="images/mask-user-azo.png"/>
    </span>
    <img ng-src="{{ currentUser.avatar || 'images/avatar-user.png' }}"/><div class="avperfil"></div>
  </div>
</div>
<div class="t-c">
    <p>{{ currentUser.name }}<br /><span>{{ currentUser.role | RoleName }}</span></p>
    <ul class="adm">
        <li ng-controller="NotificationsCtrl">
          <div ng-include="'partials/_notifications'"></div>
        </li>
        <li ng-controller="OptionsCtrl">
          <div ng-include="'partials/_options'"></div>
        </li>
    </ul>
</div>
