<div id="side" data-ng-switch="module">
  <div class="thetable">

    <div class="therowAlt">
      <div class="thecell">
        <div id="perfil" class="sidebox">
          <div class="t-c p-avatar">
            <div>
              <img ng-src="{{ currentUser.avatar || 'images/avatar-user.png' }}"/><div class="avperfil"></div>
            </div>
          </div>
          <div class="t-c">
              <p>{{ currentUser.name }}<span>{{ currentUser.role | RoleName }}</span></p>
              <ul class="adm">
                  <li ng-controller="NotificationsCtrl">
                    <a href="javascript:{}" class="sub-not" data-sgk-submenu-notifications ><img src="images/bell.png"/>
                        <div class="cant" ng-show="notifications">{{ notifications.length || 0}}</div>
                    </a>
                    <div id="submenu" class="notifications">
                        <div id="notificacion" class="wrap round hide">
                            <div class="tit-not">
                                <span class="arrow"></span>
                                <h3>Notificaciones</h3>
                                <a href="javascript:{}">Marcar como leidas</a>
                            </div>
                            <div class="wrap" ng-repeat="notify in notifications">
                                <div class="t-c avatar">
                                    <img ng-src="{{ notify.from.profile.avatar || 'images/avatar-user.png' }}"/>
                                    <div class="avnotif"></div>
                                </div>
                                <div class="t-c">
                                    <a href="javascript:{}" class="cerrar">X</a>
                                    <p class="avatar bold">
                                        <span>{{ notify.from.profile.firstName }} {{ notify.from.profile.lastName }}</span>
                                        <span class="regular">{{ notify.from.role | RoleName }}</span>
                                    </p>
                                    <br>
                                    <p>{{ notify.message }}</p>
                                </div>
                            </div>
                        </div><!-- notificaciones -->
                    </div>
                  </li>
                  <li ng-controller="OptionsCtrl">
                    <a href="javascript:{}" data-sgk-submenu-options><img src="images/gear.png"/></a>
                      <div id="submenu" class="options">
                          <div id="notificacion" class="wrap round hide">
                              <div class="tit-not">
                                  <span class="arrow"></span>
                                  <h3>Opciones</h3>
                              </div>
                              <div class="wrap">
                                <a href="javascript:{}" class="t-c" data-sgk-modal="form"
                                  data-sgk-ctrl="ProfileEditCtrl"
                                  data-sgk-tpl="partials/user/me"
                                  data-sgk-action="update">
                                  Editar perfil
                                </a>
                              </div>
                              <div class="wrap">
                                <a href="javascript:{}" ng-click="logout()" class="t-c">
                                  Salir
                                </a>
                              </div>
                          </div><!-- notificaciones -->
                      </div>

                  </li>
              </ul>
          </div>
        </div>

        <div id="crear" class="sidebox" ui-view="sidebox"></div>
      </div>
    </div>

    <div class="therow">
      <div class="thecell">
        <div class="relativo" data-sgk-solicitude-sidebar ui-view="sidebar"></div>
      </div>
    </div>

  </div>
</div><!-- side -->

<div id="main" class="ui-widget-content"  data-ng-switch="module">
  <div class="wrap">

    <div id="top">
      <div class="logo">
        <img src="images/movistar.png"/>
      </div>
    </div>

    <div id="menu-admin">
      <div class="menu-admin" data-sgk-permission="administration">
        <ul>
      <!--     <li data-ng-class="{active: isActive('/inicio')}"><a ng-href="/inicio">Inicio</a></li> -->
          <li ui-sref-active="active"><a ui-sref="solicitude.index">Solicitudes</a></li>
          <li ui-sref-active="active"><a ui-sref="admin.users">Administración</a></li>
        </ul>
      </div>
    </div>

    <div id="left" class="col" ui-view="left" data-sgk-resize-b></div><!--// #left //-->
    <div id="right" class="col altR ui-widget ui-widget-content" ui-view="right"></div><!-- col right -->

  </div><!-- wrap -->

  <div id="search-form">
    <form>
      <input type="text" name="search" id="search" class="round" placeholder="Buscar Solicitud o palabra clave" />
    </form>
  </div>

  <!-- <div data-ng-switch="modals">
    <div data-ng-switch-default>
    </div>

    <div data-ng-switch-when="newCategory" data-ng-controller="CategorySaveCtrl" class="modal">
      <div data-ng-include="'partials/admin/category/new'"></div>
    </div>
    <div data-ng-switch-when="updateCategory" data-ng-controller="CategorySaveCtrl" class="modal">
      <div data-ng-include="'partials/admin/category/edit'"></div>
    </div>
  </div>

  <div ng-switch="masterModals">
    <div data-ng-switch-when="profileEdit" data-ng-controller="ProfileEditCtrl" class="modal">
      <div data-ng-include="'partials/_profileEdit'"></div>
    </div>
  </div> -->

</div><!-- main -->
