<div class="overflow top-admin">

  <div class="margin" data-ng-repeat="user in users" data-sgk-role="search" 
    data-sgk-search="{{ user.email }} {{ user.profile.firstName }} {{ user.profile.lastName }}">
    <div class="note round" id="works_01" data-id="{{ user._id }}">
      <div class="note-left">

        <div class="table-user">
          <ul class="lista-opt">
            <li class="img-user">
              <div>
                <img ng-src="{{ user.profile.avatar || 'images/avatar-user.png' }}" alt="{{ user.profile.firstName }} {{ user.profile.lastName }}">
              </div>
            </li>
            <li>
              <h3>{{ user.profile.firstName }} {{ user.profile.lastName }}</h3>
              <span>{{ user.role | RoleName }}</span>
            </li>
            <li><a href="javascript:{}" ng-click="reportCSV(user._id)" class="icon sta">
              <span></span> link
            </a></li>
          </ul>
        </div><!-- table-user -->

      </div>

      <div class="note-right">
          <h3 data-ng-class="{active: $index===0}">Solicitudes <span></span></h3>
          <div data-sgk-user-states-filter></div>
      </div>

    </div><!-- note round -->
  </div><!-- margin -->

</div>
