<!-- <div  class="overflow admin">
  <div class="margin" ng-repeat="solicitude in solicitudes">
    <div class="note round">
      <div class="t-c round" ng-class="solicitude.sla">
        <ul>
          <li ng-if="solicitude.duration && !solicitude.pausedAt">
            <div class="ico tim"></div>
            <p data-sgk-duration ng-model="solicitude.endedAt"></p>
          </li>
          <li>
            <div class="ico" ng-class="solicitude.state[role] | StateIcons"></div>
            <p>{{ solicitude.state[role] | StateSolicitude }}</p>
          </li>
          <li class="last" ng-if="solicitude.priority">
            <p>{{ solicitude.priority | Priority }}</p>
          </li>
        </ul>

        <h4></h4>
        <ul class="full">
          <li class="light">
            Sol. <span>{{ solicitude.createdAt | DateFormat }}</span>
          </li>
          <li class="light" ng-if="solicitude.startedAt">
            Ini. <span>{{ solicitude.startedAt | DateFormat }}</span>
          </li>
        </ul>
      </div>

      <div class="t-c stats">
        <ul>
          <li class="light first">
            <span class="round">Code: </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->



<li class="listar" ng-class="solicitude.sla" ng-repeat="solicitude in solicitudes">
  <a href="javascript:{};">
    <div class="row">
      <div class="first">
        <div class="col-7">
          <div class="code">
            <span>Code: {{ solicitude.code }}</span> {{ solicitude.ticket.title }}
          </div>
          <ul class="estados">
            <li class="ico" ng-class="solicitude.state[role] | StateIcons">
              <span></span> {{ solicitude.state[role] | StateSolicitude }}
            </li>
            <li class="ico">
              <span></span>
              Sol. {{ solicitude.createdAt | DateFormat }}
            </li>
            <li class="ico" ng-if="solicitude.startedAt">
              <span></span>
              Ini. {{ solicitude.startedAt | DateFormat }}
            </li>
            <li class="ico" ng-if="solicitude.priority" ng-class="solicitude.priority | PriorityIcons">
              <span></span> {{ solicitude.priority | Priority }}
            </li>
            <li class="ico" ng-if="solicitude.duration && !solicitude.pausedAt">
              <span></span>
              <p data-sgk-duration ng-model="solicitude.endedAt"></p>
            </li>
          </ul>
        </div>
        <div class="col-5">
        </div>
      </div>
    </div>
  </a>
</li>