<ul class="lista-estados">
  <li class="bold">
    <a ui-sref="users_solicitudes_filter({ id: user_id, role: role, state: null })">
      <span class="ico tod"></span>
      <span class="text">Todas</span>
      <span class="right">{{ groups.total }}</span>
    </a>
  </li>
  <li ng-repeat="state in states">
    <a ui-sref="users_solicitudes_filter({ id: user_id, role: role, state: state.toLowerCase() })" class="bold">
      <span class="ico" ng-class="state | StateIcons"></span>
      <span class="text">{{ state | StateSolicitude }}</span>
      <span class="right">{{ groups[state] || 0 }}</span>
    </a>
  </li>
</ul>
