<div class="overflow">
    <div class="padding">
        <div class="listarComentarios">
            <div class="docu" ng-repeat="c in solicitude.comments">
                <div class="table comentario"><!-- contenedor para comentarios -->
                    <div class="t-c avatar">
                        <img src="{{ c.createdBy.profile.avatar || 'images/avatar-user.png' }}">
                    </div>
                    <div class="t-c">
                        <p class="avatar bold">{{ c.createdBy.profile.firstName }} {{ c.createdBy.profile.lastName }}
                        <span class="regular" data-sgk-duration ng-model="c.createdAt"></span></p>
                        <p>
                          {{ c.content }}
                        </p>
                        <p>
                            <ul>
                                <li ng-repeat="att in c.attachments">
                                    <a href="{{ att.link }}" download>{{ att.name }}</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="note input shadowup">
            <form name="form" ng-submit="addComment(form)">
                <textarea class="round" name="message" ng-model="solicitude.comment"></textarea>
                <fieldset>
                <input class="submit boton1 round" type="submit" value="Enviar">
                </fieldset>
                <fieldset>
                  <div data-sgk-uploader-multi="{{ solicitude._id }}" data-sgk-type="comments" sgk-position="buttom" ng-model="atts"></div>
                </fieldset>
                <div style="clear: both;"></div>
            </form>
        </div>
    </div>
</div>
