<div class="overflow">
    
    <div id="nueva-solicitud" class="validar">
        <form name="form" ng-submit="update(form)" ng-class="{ submitted: submitted }" novalidate>
            <fieldset class="even">
                <p>Ingreso de información de solicitud</p>
                <ul>
                    <li class="dropdown"><span></span>
                        <select ng-model="solicitude.provider" name="provider" ng-options="u._id as (u.profile.company+' ('+u.profile.firstName+' '+u.profile.lastName+')') for u in provider" required>
                          <option value="">Proveedor</option>
                        </select>
                        <div class="message-error" ng-show="submitted && form.provider.$error.required">El campo prioridad es requerido.</div>
                    </li>
                </ul>
            </fieldset>

            <fieldset class="blue">
                <ul>
                    <li><button type="reset">Limpiar todos los Datos</button></li>
                </ul>
                <button type="submit" class="boton1 round" ng-click="submitted = true; nextState('assigned_to_provider')"><span></span>Validar Solicitud</button>
            </fieldset>
        </form>
    </div>

</div>