<div class="overflow">
    
    <div id="nueva-solicitud" class="validar">
        <form name="form" ng-submit="update(form)" ng-class="{ submitted: submitted }" novalidate>
            <fieldset class="even">
                <p>Ingreso tiempo de ejecución</p>
                <ul>
                    <li>
                        <input type="number" name="duration" name="duration" ng-model="solicitude._duration" placeholder="Minutos" min="15" max="15000" required>
                        <div class="message-error" ng-show="submitted && form.duration.$error.required">El campo prioridad es requerido.</div>
                        <div class="message-error" ng-show="submitted && (form.duration.$error.min || form.duration.$error.max)">
                            El rando de minutos es de 15 min a 15000 min.
                        </div>
                    </li>
                </ul>
            </fieldset>

            <fieldset class="blue">
                <ul>
                    <li><button type="reset">Limpiar todos los Datos</button></li>
                    <li><a href="javascript:{}" data-cancel>Cancelar</a></li>
                </ul>
                <button type="submit" class="boton1 round" ng-click="submitted = true; nextState('proccess')"><span></span>Validar Solicitud</button>
            </fieldset>
        </form>
    </div>

</div>