<div class="overflow">
    
    <div id="nueva-solicitud" class="validar">
        <form name="form" ng-submit="update(form)" ng-class="{ submitted: submitted }" novalidate>
            <fieldset class="even">
                <p>¿Por qué?</p>
                <ul>
                    <textarea name="message" rows="8" name="because" ng-model="solicitude.message" required></textarea>
                    <div class="message-error" ng-show="submitted && form.because.$error.required">La explicacion es necesaria.</div>
                </ul>
            </fieldset>

            <fieldset class="blue">
                <ul>
                    <li><button type="reset">Limpiar todos los Datos</button></li>
                    <li><a href="javascript:{}" data-cancel>Cancelar</a></li>
                </ul>
                <button type="submit" data-invalid="{{ form.$invalid }}" class="boton1 round" ng-click="submitted = true; nextState(rejectedState)"><span></span>Confirmar</button>
            </fieldset>
        </form>
    </div>


</div>