<div class="contenedor-filtros">
  <div class="half">
      <div id="paginador">
          <ul>
              <li><a href="#;" class="prev"><span>anterior</span></a></li>
              <li><a href="#;">1</a></li>
              <li><a href="#;">2</a></li>
              <li><a href="#;">3</a></li>
              <li><a href="#;">4</a></li>
              <li><a href="#;">...</a></li>
              <li><a href="#;">15</a></li>
              <li><a href="#;" class="next"><span>siguiente</span></a></li>
          </ul>
      </div>
  </div>

  <div class="half">
      <div id="filtros">
          <span>Ordenar por</span>
          <div class="filtrodiv"><span></span>
              <select class="filtro" id="filtro" name="filtro">
                  <option value="0">Nivel de prioridad</option>                                                                 <option value="1">Opcion 02</option>
                  <option value="1">Opcion 02</option>
                  <option value="2">Opcion 03</option>
                  <option value="3">Opcion 04</option>
              </select>
          </div>
      </div>
  </div>
</div>
