<div class="overflow">
  <div class="note round" data-ng-class="{active: $index===0}" ng-repeat="solicitude in solicitudes" data-sgk-active-solicitude ng-click="loadSolicitude(solicitude._id)">
      <div class="t-c verde round">
          <ul>
              <li><div class="ico tim"></div>Quedan <span>5 días</span></li>
              <li><div class="ico {{ solicitude.state | StateIcons }}"></div>{{ solicitude.state | StateSolicitude }}</li>
              <li class="last">Prioridad: <span>{{ solicitude.priority }}</span></li>
          </ul>
          <h4>{{ solicitude.ticket.title }}</h4>
          <ul>
              <li class="bold" ng-if="solicitude.ticket.category">
                Categoría: <span class="light">{{ solicitude.ticket.category.name }}</span>
              </li>
              <li class="light" ng-if="false">Personas</li>
              <li class="bold last" ng-if="false">Proveedor: <span class="light">Ingenia</span></li>
          </ul>
      </div>
      <div class="t-c stats">
          <ul>
              <li class="light first"><span class="round">Code: {{ solicitude.code }}</span><a href="javascript:{}" class="ico sta"></a></li>
              <li class="light">Sol. <span>{{ solicitude.createdAt | DateFormat }}</span></li>
              <li class="light" ng-if="solicitude.startedAt">Ini. <span>{{ solicitude.startedAt | DateFormat }}</span></li>
          </ul>
      </div>
      <div class="botones rounddown">
          <ul>
              <li class="bold">
                <a href="javascript:{}"><div class="ico com">
                </div>Comentarios <span class="regular">({{ solicitude.comments.length }})</span>
                </a>
              </li>
              <li class="bold">
                <a href="javascript:{}"><div class="ico doc">
                </div>Documentos <span class="regular">({{ solicitude.ticket.attachments.length }})</span>
                </a>
              </li>
              <li class="bold">
                <a href="javascript:{}"><div class="ico inv">
                </div>Involucrados <span class="regular">({{ solicitude.involved.length }})</span>
                </a>
              </li>
              <li class="bold last">
                <a href="javascript:{}"><div class="ico sub">
                  </div>Sub tareas <span class="regular">({{ solicitude.tasks.length }})</span>
                </a>
              </li>
          </ul>
      </div>
  </div>
</div>
