<div data-sgk-alerts></div>

<div class="altFirst" data-sgk-medida-resize>

  <div class="user">
    <div class="t-c img-user">
      <div>
        <img src="{{ user.profile.avatar }}" alt="{{ user.profile.firstName }} {{ user.profile.lastName }}">
      </div>
    </div>

    <div class="t-c">
      <div class="padding-left">

        <div class="info-user">
          <div class="name-user">
            <h2>{{ user.profile.firstName }} {{ user.profile.lastName }}</h2>
            <span>{{ user.role | RoleName }}</span>
          </div>

          <div class="edit-user">
            <ul>
              <li class="logs">
                <a href="/api/v1/log/{{ user._id }}/csv" target="_self" class=" icon sta">
                  <span></span>
                </a>
              </li>
              <li>
                <a href="javascript:{}" data-sgk-modal="form"
                  data-sgk-ctrl="UserSaveCtrl"
                  data-sgk-tpl="partials/user/edit"
                  data-sgk-action="update"
                  data-sgk-id="{{ user._id }}">
                  <span class="ico edi"></span>
                  Editar información
                </a>
              </li>
  <!--             <li>
                <a href="javascript:{}">
                  <span class="ico eli"></span>
                  Eliminar
                </a>
              </li> -->
            </ul>
          </div>
        </div>

        <div class="contact-user">
          <ul>
            <li data-ng-if="user.email"><span class="ico ema"></span> {{ user.email }}</li>
            <li data-ng-if="user.profile.celNumber"><span class="ico cel"></span> {{ user.profile.celNumber }}</li>
            <li data-ng-if="user.profile.phoneNumber"><span class="ico tel"></span> {{ user.profile.phoneNumber }}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="medida">
  <div class="relativo">
    <div class="overflow" data-sgk-scroll>

      <div class="lista">
        <ul>
          <!-- Lista de solicitudes -->
          <li class="listar" ng-class="solicitude.sla" data-ng-repeat="solicitude in solicitudes">
            <a href="javascript:{};">
              <div class="row">
                <div class="first">
                  <div class="col-7">
                    <div class="code">
                      <span>Code: {{ solicitude.code }}</span> {{ solicitude.ticket.title }}
                    </div>
                    <ul class="estados">
                      <li class="ico" data-ng-class="solicitude.state[user.role] | StateIcons">
                        <span></span> {{ solicitude.state[user.role] | StateSolicitude }}
                      </li>
                      <li class="ico">
                        <i class="fa fa-calendar-o"> Sol. {{ solicitude.createdAt | DateFormat }}</i>
                      </li>
                      <li class="ico" ng-if="solicitude.startedAt">
                        <i class="fa fa-calendar-o"> Ini. {{ solicitude.startedAt | DateFormat }}</i>
                      </li>
                      <li class="ico" ng-if="s.priority" ng-class="solicitude.priority | PriorityIcons">
                        <span></span> {{ solicitude.priority | Priority }}
                      </li>
                      <li class="ico" ng-if="solicitude.duration && !solicitude.pausedAt">
                        <i class="fa fa-calendar-o"> {{ solicitude.duration / 60000 }} min.</i>
                      </li>
                      <li class="ico" data-ng-if="solicitude.priority" data-ng-class="solicitude.priority | PriorityIcons">
                        <span></span> {{ solicitude.priority | Priority }}
                      </li>
                      <li class="ico" ng-if="solicitude.duration && !solicitude.pausedAt">
                        <i class="fa fa-clock-o" data-sgk-duration data-start="{{solicitude.startedAt}}" data-duration="{{solicitude.duration}}"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="col-5">
                  </div>
                </div>
              </div>
            </a>
          </li>

        </ul>
    </div><!--/ .overflow /-->
  </div><!--/ .relativo /-->

</div>
