<fieldset class="odd">
  <div class="t-c img-user">
    <div class="relativo">
      <div class="img-user">
        <span class="mask"></span>
        <span class="edit-avatar-user">Editar</span>
        <img src="images/avatar-user.png" alt="Nombre Usuario">
        <input class="att" type="file" name="attachment">
      </div>
    </div>
  </div>
  <ul class="t-c">
    <li><input type="text" id="nombre" name="nombre" placeholder="Nombre" data-ng-model="user.profile.firstName"/></li>
    <li><input type="text" id="nombre" name="nombre" placeholder="Apellido" data-ng-model="user.profile.lastName"/></li>
    <li class="dropdown"><span></span>
      <select data-ng-model="user.role">
        <option value="">Tipo de Usuario</option>
        <option value="EDITOR">Editor</option>
        <option value="CONTENT_MANAGER">Gestor de Contenidos</option>
        <option value="PROVIDER">Proveedor</option>
        <option value="CLIENT">Cliente</option>
      </select>
    </li>
  </ul>                                           
</fieldset>

<fieldset class="even">  
  <ul>
    <li>
      <input type="email" id="nombre" name="email" placeholder="Correo Electrónico" data-ng-model="user.email" />
    </li>
    <li>
      <input type="text" id="nombre" name="movil" placeholder="Teléfono Móvil" data-ng-model="user.profile.celNumber"/>
    </li>
    <li>
      <input type="text" id="nombre" name="oficina" placeholder="Teléfono Oficina" data-ng-model="user.profile.phoneNumber"/>
    </li>
  </ul>   
</fieldset>

<fieldset class="odd">                                            
  <ul>
    <li>
      <textarea id="descripcion" name="descripcion" placeholder="Comentario" data-ng-model="user.profile.description"></textarea>
    </li>
  </ul>
</fieldset>                                       

