
<div id="nueva-solicitud" class="user">
    
  <div class="row">
    <div class="relativo">
      <h2>Crear nuevo Usuario</h2>
      <ul>
        <li class="hideshow"><a href="#;"><span class="down">_</span></a></li>
        <li class="close"><a href="#;"><span class="close">X</span></a></li>
      </ul>
    </div>
  </div>

  <div class="table esconder">
    <div class="relativo">
      <div class="overflow">
        <div>

          <form>
            <fieldset class="odd">
              <div class="t-c img-user">
                <div class="relativo">
                  <div class="img-user">
                    <span class="mask"></span>
                    <span class="edit-avatar-user">Editar</span>
                    <img src="images/avatar-user.png" alt="Nombre Usuario">
                    <input class="att" type="file" name="attachment">
                  </div>
                </div>
              </div>
              <ul class="t-c">
                <li><input type="text" id="nombre" name="nombre" value="Nombre" /></li>
                <li class="dropdown"><span></span>
                  <select>
                    <option>Tipo de Usuario</option>
                    <option>Editor</option>
                    <option>Gestor de Contenidos</option>
                    <option>Proveedor</option>
                  </select>
                </li>
              </ul>                                           
            </fieldset>

            <fieldset class="even">  
              <ul>
                <li><input type="email" id="nombre" name="email" value="Correo Electrónico" /></li>
                <li><input type="text" id="nombre" name="movil" value="Teléfono Móvil" /></li>
                <li><input type="text" id="nombre" name="oficina" value="Teléfono Oficina" /></li>
              </ul>   
            </fieldset>

            <fieldset class="odd">                                            
              <ul>
                <li><textarea id="descripcion" name="descripcion">Comentario</textarea></li>
              </ul>
            </fieldset>                                       

            <fieldset class="blue">
              <ul>
                <li><a href="#">Limpiar todos los Datos</a></li>
                <li><a href="#">Cancelar</a></li>
              </ul> 
              <a href="#" class="boton1 round"><span></span>Crear Usuario</a>
            </fieldset>
          
          </form> 

        </div>
      </div>
    </div>
  </div>

</div>