<div class="overflow top-admin"  >

  <div class="margin" data-ng-repeat="user in users">
    <div class="note round" id="works_01">
      <div class="note-left">

        <div class="table-user">
          <ul class="lista-opt">
            <li class="img-user">
              <div>
                <img ng-src="{{ user.profile.avatar || 'images/avatar-user.png' }}" alt="{{ user.profile.firstName }} {{ user.profile.lastName }}">
              </div>
            </li>
            <li>
              <h3>{{ user.profile.firstName }} {{ user.profile.lastName }}</h3>
              <span>{{ user.role | RoleName }}</span>
            </li>
          </ul>
        </div><!-- table-user -->

        <!--div class="contact-user">
          <ul>
            <li data-ng-if="user.email">
              <span class="ico ema"></span> {{ user.email }}
            </li>
            <li data-ng-if="user.profile.celNumber">
              <span class="ico cel"></span> {{ user.profile.celNumber }}
            </li>
            <li data-ng-if="user.profile.phoneNumber">
              <span class="ico tel"></span> {{ user.profile.phoneNumber }}
            </li>
          </ul>
        </div><!-- ontact-user -->
      </div>

      <div class="note-right">
          <h3 data-ng-class="{active: $index===0}">Solicitudes <span></span></h3>
          <ul class="lista-estados">
              <li>
                  <a href="javascript:{}" class="bold">
                      <span class="ico val"></span>
                      <span class="text">Por validar</span>
                      <span class="right">11</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:{}" class="bold">
                      <span class="ico epr"></span>
                      <span class="text">Espera proveedor</span>
                      <span class="right">7</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:{}" class="bold">
                      <span class="ico pro"></span>
                      <span class="text">En progreso</span>
                      <span class="right">12</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:{}" class="bold">
                      <span class="ico esp"></span>
                      <span class="text">Espera</span>
                      <span class="right">7</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:{}" class="bold">
                      <span class="ico atr"></span>
                      <span class="text">Atrasadas</span>
                      <span class="right">1</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:{}" class="bold">
                      <span class="ico pau"></span>
                      <span class="text">En pausa</span>
                      <span class="right">0</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:{}" class="bold">
                      <span class="ico fin"></span>
                      <span class="text">Finalizadas</span>
                      <span class="right">120</span>
                  </a>
              </li>
          </ul>
      </div>

    </div><!-- note round -->
  </div><!-- margin -->

</div>
