<div class="overflow">
  <div id="estado" class="sidebox">
    <h3>Estado de Solicitudes</h3>
    <ul class="bold">
      <li><a href="#">Todos<span class="round light">120</span></a></li>
      <li><a href="#">Editores<span class="round light">3</span></a></li>
      <li><a href="#">Gestores de contenido<span class="round light">3</span></a></li>
      <li><a href="#">Clientes internos<span class="round light">5</span></a></li>
      <li><a href="#">Proveedores<span class="round light">2</span></a></li>
    </ul>
  </div>
</div>