<div data-sgk-overflow class="overflow">
  <div id="estado" class="sidebox">
    <h3>Estado de Solicitudes</h3>
    <ul class="bold">
      <li><a href="javascript:{}" ng-click="filter('')">Todos<span class="round light">{{ groups.total }}</span></a></li>
      <li data-ng-repeat="r in roles" data-sgk-permission="roles" data-permission-value="{{r.id}}">
        <a href="javascript:{}"  ng-click="filter(r.id)">{{ r.name }}<span class="round light">{{ groups[r.id] || 0 }}</span></a>
      </li>
    </ul>
  </div>
</div>
