<div class="overflow admin">
    <div class="note round" title="works_01">
      <div class="t-c amarillo round">
        <ul>
          <li><div class="ico tim"></div>Quedan <span>5 días</span></li> 
          <li><div class="ico val"></div>Por Validar</li>
          <li class="last">Prioridad: <span>Alta</span></li>
        </ul>

        <h4>Cambio de imagen principal en inversionistas de esta forma mostramos todo el título lorem ipsum dolor sit amet avec.</h4>
        <ul>
          <li class="bold">Categoría: <span class="light">Mejoras o correcciones de Diseño</span></li> 
          <li class="light">Personas</li>
          <li class="bold last">Proveedor: <span class="light">Ingenia</span></li>
        </ul>
      </div>

      <div class="t-c stats">
        <ul>
          <li class="light first"><span class="round">Nº 000301</span><a href="#" class="ico sta"></a></li> 
          <li class="light">Sol. <span>01/10/2014</span></li>
          <li class="light">Ini. <span>01/102014</span></li>
        </ul>
      </div>                                                                 
    </div><!-- note round -->


    <div class="note round" title="works_02">
        <div class="t-c rojo round">
            <ul>
                <li><div class="ico tim"></div>Quedan <span>5 días</span></li> 
                <li><div class="ico val"></div>Por Validar</li>
                <li class="last">Prioridad: <span>Alta</span></li>
            </ul>
            <h4>Cambio de imagen principal en inversionistas de esta forma mostramos todo el título lorem ipsum dolor sit amet avec.
            </h4>
            <ul>
                <li class="bold">Categoría: <span class="light">Mejoras o correcciones de Diseño</span></li> 
                <li class="light">Personas</li>
                <li class="bold last">Proveedor: <span class="light">Ingenia</span></li>
            </ul>
        </div>
        <div class="t-c stats">
            <ul>
                <li class="light first"><span class="round">Nº 000301</span><a href="#" class="ico sta"></a></li> 
                <li class="light">Sol. <span>01/10/2014</span></li>
                <li class="light">Ini. <span>01/102014</span></li>
            </ul>
        </div>                                                                 
    </div><!-- note round -->

    <div class="note round" title="works_03">
        <div class="t-c verde round">
            <ul>
                <li><div class="ico tim"></div>Quedan <span>5 días</span></li> 
                <li><div class="ico val"></div>Por Validar</li>
                <li class="last">Prioridad: <span>Alta</span></li>
            </ul>
            <h4>Cambio de imagen principal en inversionistas de esta forma mostramos todo el título lorem ipsum dolor sit amet avec.
            </h4>
            <ul>
                <li class="bold">Categoría: <span class="light">Mejoras o correcciones de Diseño</span></li> 
                <li class="light">Personas</li>
                <li class="bold last">Proveedor: <span class="light">Ingenia</span></li>
            </ul>
        </div>
        <div class="t-c stats">
            <ul>
                <li class="light first"><span class="round">Nº 000301</span><a href="#" class="ico sta"></a></li> 
                <li class="light">Sol. <span>01/10/2014</span></li>
                <li class="light">Ini. <span>01/102014</span></li>
            </ul>
        </div>                                                                 
    </div><!-- note round -->

    <div class="note round" title="works_04">
        <div class="t-c rojo round">
            <ul>
                <li><div class="ico tim"></div>Quedan <span>5 días</span></li> 
                <li><div class="ico val"></div>Por Validar</li>
                <li class="last">Prioridad: <span>Alta</span></li>
            </ul>
            <h4>Cambio de imagen principal en inversionistas de esta forma mostramos todo el título lorem ipsum dolor sit amet avec.
            </h4>
            <ul>
                <li class="bold">Categoría: <span class="light">Mejoras o correcciones de Diseño</span></li> 
                <li class="light">Personas</li>
                <li class="bold last">Proveedor: <span class="light">Ingenia</span></li>
            </ul>
        </div>
        <div class="t-c stats">
            <ul>
                <li class="light first"><span class="round">Nº 000301</span><a href="#" class="ico sta"></a></li> 
                <li class="light">Sol. <span>01/10/2014</span></li>
                <li class="light">Ini. <span>01/102014</span></li>
            </ul>
        </div>                                                                 
    </div><!-- note round -->

    <div class="note round" title="works_05">
        <div class="t-c amarillo round">
            <ul>
                <li><div class="ico tim"></div>Quedan <span>5 días</span></li> 
                <li><div class="ico val"></div>Por Validar</li>
                <li class="last">Prioridad: <span>Alta</span></li>
            </ul>
            <h4>Cambio de imagen principal en inversionistas de esta forma mostramos todo el título lorem ipsum dolor sit amet avec.
            </h4>
            <ul>
                <li class="bold">Categoría: <span class="light">Mejoras o correcciones de Diseño</span></li> 
                <li class="light">Personas</li>
                <li class="bold last">Proveedor: <span class="light">Ingenia</span></li>
            </ul>
        </div>
        <div class="t-c stats">
            <ul>
                <li class="light first"><span class="round">Nº 000301</span><a href="#" class="ico sta"></a></li> 
                <li class="light">Sol. <span>01/10/2014</span></li>
                <li class="light">Ini. <span>01/102014</span></li>
            </ul>
        </div>                                                                 
    </div><!-- note round -->
</div>