<div class="tools">
  <ul>
    <li class="active"><a href="javascript:{}" title=""><span class="ico tod"></span><p class="bold">Todas</p></a></li>
    <li><a href="javascript:{}" title=""><span class="ico val"></span><p class="bold">Por validar</p></a></li>
    <li><a href="javascript:{}" title=""><span class="ico epr"></span><p class="bold">Espera proveedor</p></a></li>
    <li><a href="javascript:{}" title=""><span class="ico pro"></span><p class="bold">En progreso</p></a></li>
    <li><a href="javascript:{}" title=""><span class="ico esp"></span><p class="bold">En espera</p></a></li>
    <li><a href="javascript:{}" title=""><span class="ico atr"></span><p class="bold">Atrasadas</p></a></li>
    <li><a href="javascript:{}" title=""><span class="ico pau"></span><p class="bold">En pausa</p></a></li>
    <li><a href="javascript:{}" title=""><span class="ico fin"></span><p class="bold">Finalizadas</p></a></li>
  </ul>
</div>