<div class="user">
  <div class="t-c img-user">
    <div>
      <span></span>
      <img ng-src="{{ user.profile.avatar }}" alt="{{ user.profile.firstName }} {{ user.profile.lastName }}">
    </div>
  </div>

  <div class="t-c">
    <div class="padding-left">
      
      <div class="info-user">
        <div class="name-user">
          <h2>{{ user.profile.firstName }} {{ user.profile.lastName }}</h2>
          <span>{{ user.role }}</span>  
        </div>

        <div class="edit-user">
          <ul>
            <li><a href="admin_edit.html">Editar información</a></li>
            <li><a href="#;">Eliminar</a></li>
          </ul>
        </div>
      </div>

      <div class="contact-user">
        <ul>
          <li><span class="ico ema"></span> {{ user.email }}</li>
          <li><span class="ico cel"></span> {{ user.profile.celNumber }}</li>
          <li><span class="ico tel"></span> {{ user.profile.phoneNumber }}</li>
        </ul>
      </div>

    </div>
  </div>
</div>