<div class="user">
  <div class="t-c img-user">
    <div>
      <span></span>
      <img src="images/img-user.jpg" alt="Brian Griffin">
    </div>
  </div>

  <div class="t-c">
    <div class="padding-left">
      
      <div class="info-user">
        <div class="name-user">
          <h2>Brian Griffin</h2>
          <span>Super Administrador</span>  
        </div>

        <div class="edit-user">
          <ul>
            <li><a href="admin_edit.html">Editar información</a></li>
            <li><a href="#;">Eliminar</a></li>
          </ul>
        </div>
      </div>

      <div class="contact-user">
        <ul>
          <li><span class="ico ema"></span> bgriffin@telefonica.cl</li>
          <li><span class="ico cel"></span> +56 2 256 89 23</li>
          <li><span class="ico tel"></span> +56 2 256 89 26</li>
        </ul>
      </div>

    </div>
  </div>
</div>