<div class="user">
  <div class="t-c img-user">
    <div>
      <span><img src="images/mask-user-pic2.png"/></span>
      <img ng-src="{{ user.profile.avatar }}" alt="{{ user.profile.firstName }} {{ user.profile.lastName }}">
    </div>
  </div>

  <div class="t-c">
    <div class="padding-left">

      <div class="info-user">
        <div class="name-user">
          <h2>{{ user.profile.firstName }} {{ user.profile.lastName }}</h2>
          <span>{{ user.role | RoleName }}</span>
        </div>

        <div class="edit-user">
          <ul>
            <li>
              <a href="javascript:{}" data-ng-click="EditUser(user._id)">
                <span class="ico edi"></span>
                Editar información
              </a>
            </li>
<!--             <li>
              <a href="javascript:{}">
                <span class="ico eli"></span>
                Eliminar
              </a>
            </li> -->
          </ul>
        </div>
      </div>

      <div class="contact-user">
        <ul>
          <li data-ng-if="user.email"><span class="ico ema"></span> {{ user.email }}</li>
          <li data-ng-if="user.profile.celNumber"><span class="ico cel"></span> {{ user.profile.celNumber }}</li>
          <li data-ng-if="user.profile.phoneNumber"><span class="ico tel"></span> {{ user.profile.phoneNumber }}</li>
        </ul>
      </div>

    </div>
  </div>
</div>
