<div class="padding"><!-- comentarios -->

    <div class="table comentario" ng-repeat="c in solicitude.comments"><!-- contenedor para comentarios -->
        <div class="t-c avatar">
            <div>
                <span><img src="images/mask-user-pic.png"/></span>
                <img src="{{ c.createdBy.profile.avatar }}">
            </div>
        </div>
        <div class="t-c">
            <p class="avatar bold">{{ c.createdBy.profile.firstName }} {{ c.createdBy.profile.lastName }}<span class="regular">• hace 2 días</span></p>
            <p>
              {{ c.content }}
            </p>
        </div>
    </div>
</div>
