<div data-sgk-overflow class="overflow">
<div class="padding"><!-- documentos -->
    <div class="archivos"><!-- contenedor para archivos -->
        <div class="docu">
            <div class="table">
                <div class="t-c"><img src="images/ejemplo.jpg"/></div>
                <div class="t-c"><p class="bold">Screenshot.jpg</p><p class="bold">15MB</p><p class="sendby">Enviado por Brian Griffin</p></div>
            </div>            
        </div>
    </div>
</div><!-- fin documentos -->
</div>
