<div class="contenedor-filtros">
    <div class="half">
        <ul class="menu-tarea-top">
            <li ng-if="solicitude.duration" data-sgk-duration ng-model="solicitude.endedAt">
              <div class="ico tim"></div>
              <p></p>
            </li>
            <li>
              <div id="state" class="ico"></div>
              <span>{{ solicitude.state[currentUser.role] | StateSolicitude }}</span>
            </li>
            <li class="last" ng-if="solicitude.priority">
              <div class="ico {{ solicitude.priority | PriorityIcons }}"></div>
              <span>{{ solicitude.priority | Priority }}</span>
            </li>
        </ul>
    </div>
    <!--// ACEPTAR - RECHAZAR //-->
    <div class="half" ng-if="section !== 'QUEUE_VALIDATION'">
      <ul class="acciones">
        <li class="aceptar"><a href="javascript:{}" ng-click="changeSection(solicitude.state[currentUser.role])">Aceptar</a></li>
        <li class="rechazar"><a href="javascript:{}">Rechazar</a></li>
    </ul>
    </div>
    <!--// ACEPTAR - RECHAZAR //-->
</div>
