<div class="contenedor-filtros">
    <div class="half">
        <ul class="menu-tarea-top">
            <li ng-if="solicitude.duration"><div class="ico tim"></div><span>Quedan 5 días</span></li>
            <li>
              <div class="ico {{ solicitude.state | StateIcons }}"></div>
              <span>{{ solicitude.state | StateSolicitude }}</span>
            </li>
            <li class="last" ng-if="solicitude.priority">
              <div class="ico {{ solicitude.priority | PriorityIcons }}"></div>
              <span>{{ solicitude.priority | Priority }}</span>
            </li>
        </ul>
    </div>
    <!--// ACEPTAR - RECHAZAR //-->
    <div class="half">
      <ul class="acciones">
        <li class="aceptar"><a href="#;">Aceptar</a></li>
        <li class="rechazar"><a href="#;">Rechazar</a></li>
      </ul>
    </div>
    <!--// ACEPTAR - RECHAZAR //-->
</div>
