<div class="contenedor-filtros">
    <div class="half">
        <ul class="menu-tarea-top">
            <li><div class="ico tim"></div><span>Quedan 5 días</span></li>
            <li><div class="ico fin"></div><span>Finalizada</span></li>
            <li class="last"><span>Prioridad: Alta</span></li>
        </ul>
    </div>
    <div class="half">
        <div class="editar-info">
            <a href="javascript:{}"><span class="ico edi"></span>Editar información</a>
        </div>
    </div>
</div>
