<div class="overflow">
<div class="padding"><!-- involucrados -->
    <div class="involucrados" ng-repeat="i in solicitude.involved"><!-- contenedor para involucrados -->
        <div class="docu">
            <div class="table">
                <div class="t-c avatar">
                    <img src="{{i.user.profile.avatar || 'images/avatar-user.png'}}">
                </div>
                <div class="t-c">
                    <p class="avatar bold">{{ i.user.profile.firstName }}  {{ i.user.profile.lastName }}</p>
                    <p class="sendby">{{ i.role | InvolvedRole }}</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- fin involucrados -->
</div>
