<ul>
  <li>
    <a href="javascript:{}" ng-class="{ active: activeTab('') }" title="Detalle" ng-click="changeTabs('')">
      <span class="ico tod"></span>
    </a>
  </li>
  <li>
    <a href="javascript:{}" ng-class="{ active: activeTab('comments') }" title="Comentarios" ng-click="changeTabs('comments')">
      <span class="ico com"></span>
      <p class="bold">Comentarios</p> ({{ solicitude.comments.length }})
    </a>
  </li>
  <li>
    <a href="javascript:{}" ng-class="{ active: activeTab('documents') }" title="Documentos" ng-click="changeTabs('documents')">
      <span class="ico doc"></span>
      <p class="bold">Documentos</p> ({{ solicitude.ticket.attachments.length }})
    </a>
  </li>
  <li>
    <a href="javascript:{}" ng-class="{ active: activeTab('involved') }" title="Involucrados" ng-click="changeTabs('involved')">
      <span class="ico inv"></span>
      <p class="bold">Involucrados</p> ({{ solicitude.involved.length }})
    </a>
  </li>
  <li>
    <a href="javascript:{}" ng-class="{ active: activeTab('tasks') }" title="Sub tareas" ng-click="changeTabs('tasks')">
      <span class="ico sub"></span>
      <p class="bold">Sub tareas</p> ({{ solicitude.tasks.length }})
    </a>
  </li>
</ul>
