<div class="menu-middle">
  <ul>
    <li><a href="#;" title="Comentarios"><span class="ico com"></span><p class="bold">Comentarios</p> (35)</a></li>
    <li><a href="#;" title="Documentos"><span class="ico doc"></span><p class="bold">Documentos</p> (5)</a></li>
    <li><a href="#;" title="Involucrados"><span class="ico inv"></span><p class="bold">Involucrados</p> (9)</a></li>
    <li><a href="#;" title="Sub tareas"><span class="ico sub"></span><p class="bold">Sub tareas</p> (13)</a></li>
  </ul>
</div>
