<div class="overflow">
<div class="padding"><!-- subtareas -->
    <div id="filtros">
        <span>Ordenar por</span>
        <div class="filtrodiv"><span></span>
            <select class="filtro" id="filtro" name="filtro">
                <option value="0">Todos</option>
                <option value="1">Opcion 02</option>
                <option value="1">Opcion 02</option>
                <option value="2">Opcion 03</option>
                <option value="3">Opcion 04</option>
            </select>
        </div>
    </div>
    <p class="nivel">Nivel de avance 50%</p>
    <div class="subtarea"><!-- contenedor para subtarea -->
        <div class="dato">
            <div class="table">
                <div class="t-c che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></div>
                <div class="t-c"><p class="bold">Crear planificación</p></div>
            </div>
            <a href="javascript:{}">Activar solicitud</a>
        </div>
    </div>
    <div class="subtarea"><!-- contenedor para subtarea -->
        <div class="dato">
            <div class="table">
                <div class="t-c che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></div>
                <div class="t-c"><p class="bold">Generar entrevistas</p></div>
            </div>
            <a href="javascript:{}">Activar solicitud</a>
        </div>
    </div>
    <div class="subtarea"><!-- contenedor para subtarea -->
        <div class="dato">
            <div class="table">
                <div class="t-c che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></div>
                <div class="t-c"><p class="bold">Renderizar videos</p></div>
            </div>
            <a href="javascript:{}">Activar solicitud</a>
        </div>
    </div>
    <div class="subtarea"><!-- contenedor para subtarea -->
        <div class="dato">
            <div class="table">
                <div class="t-c che"><span class="opt-check left"></span><input class="hide" type="checkbox" id="check_todos"></div>
                <div class="t-c"><p class="bold">Renderizar videos</p></div>
            </div>
            <a href="javascript:{}">Activar solicitud</a>
        </div>
    </div>
</div><!-- fin subtareas -->
</div>
