
<div id="nueva-solicitud" class="validar">
  <form name="form" ng-submit="update(form)">
    <fieldset class="even">
          <p>Ingreso de información de solicitud</p>
          <ul>
              <li class="dropdown"><span></span>
                  <select ng-model="solicitude.priority" ng-options="p.id as p.name for p in priorities">
                    <option value="">Prioridad</option>
                  </select>
              </li>
              <li class="dropdown"><span></span>
                  <select ng-model="solicitude.ticket.category" ng-options="c._id as c.name for c in categories">
                    <option value="">Categoría</option>
                  </select>
              </li>
              <li class="dropdown"><span></span>
                  <select ng-model="solicitude.responsible" ng-options="u._id as (u.profile.firstName+' '+u.profile.lastName) for u in contentManagers">
                    <option value="">Responsable</option>
                  </select>
              </li>
          </ul>
      </fieldset>
    <fieldset class="odd">
        <ul>
            <li class="Tag">
                <input class="Tag" id="nombre" name="tags" type="text" placeholder="Tags de Clasificación" ng-keypress="addTag($event)" ng-model="solicitude.tag"/>
                    <div class="tags">
                        <span class="tag round" ng-repeat="t in solicitude.ticket.tags track by $index">{{ t }}<a class="cerrar" href="javascript:{}"></a></span>
                    </div>
            </li>
        </ul>
    </fieldset>
    <fieldset class="even segments">
        <p>Seleccionar segmentos a los que aplica la solicitud</p>
        <ul>
            <li class="lab" ng-repeat="s in segments">
              <label>{{ s.name }}</label>
              <span class="opt-check right" data-sgk-check></span>
              <input class="hide" type="checkbox" id="check_todos" name="segments" ng-true-value="{{s.id}}" ng-model="solicitude.ticket.segments[$index]">
            </li>
        </ul>
    </fieldset>
    <fieldset class="odd sections">
        <p>Seleccionar secciones a los que aplica la solicitud</p>
        <ul>
            <li class="lab" ng-repeat="s in sections">
              <label>{{ s.name }}</label>
              <span class="opt-check right" data-sgk-check></span>
              <input class="hide" type="checkbox" id="check_todos" name="sections" ng-true-value="{{s.id}}" ng-model="solicitude.ticket.sections[$index]">
            </li>
        </ul>
    </fieldset>
    <fieldset class="blue">
        <ul>
            <li><a href="javascript:{}">Limpiar todos los Datos</a></li>
        </ul>
        <button type="submit" class="boton1 round" ng-click="nextState('assigned_to_manager')"><span></span>Validar Solicitud</button>
    </fieldset>
  </form>
</div>
