<div id="nueva-solicitud" class="validar">
    <form name="form" ng-submit="update(form)">
        <fieldset class="even">
            <p>Ingreso de información de solicitud</p>
            <ul>
                <input type="number" name="duration" ng-model="solicitude._duration">
            </ul>
        </fieldset>

        <fieldset class="blue">
            <ul>
                <li><a href="javascript:{}">Limpiar todos los Datos</a></li>
            </ul>
            <button type="submit" class="boton1 round" ng-click="nextState('proccess')"><span></span>Validar Solicitud</button>
        </fieldset>
    </form>
</div>
