<div data-sgk-overflow class="overflow" perfect-scrollbar wheel-propagation="false" wheel-speed="10" refresh-on-change="someArray">
<div class="full">

        <div class="padding">
            <div class="title">
                <h1>{{ solicitude.ticket.title }}</h1>
                <div class="fecha">
                    <span>Solicitada {{ solicitude.createdAt | DateFormat }}</span>
                    <span ng-if="solicitude.startedAt">Iniciada {{ solicitude.startedAt | DateFormat }}</span>
                </div>
            </div>
            <div class="categoria" ng-if="solicitude.ticket.category">Categoría: <span>{{ solicitude.ticket.category.name }}</span></div>

            <ul class="otros-datos">
                <li class="first"  ng-if="solicitude.ticket.segments">Segmento: <span>{{ solicitudes.segments.join(', ') }}</span></li>
                <li>Solicitante: <span>{{ solicitude.createdBy.profile.firstName }} {{ solicitude.createdBy.profile.lastName }}</span></li>
            </ul>

            <p data-sgk-short-paragraph="500"></p>

        </div><!-- fin padding -->
        <div id="nueva-solicitud" class="validar">
            <form name="form" ng-submit="update(form)">
                <fieldset class="even">
                    <p>Ingreso de información de solicitud</p>
                    <ul>
                        <li class="dropdown"><span></span>
                            <select ng-model="solicitude.provider" ng-options="u._id as (u.profile.company+' ('+u.profile.firstName+' '+u.profile.lastName+')') for u in provider">
                              <option value="">Proveedor</option>
                            </select>
                        </li>
                    </ul>
                </fieldset>

                <fieldset class="blue">
                    <ul>
                        <li><a href="javascript:{}">Limpiar todos los Datos</a></li>
                    </ul>
                    <button type="submit" class="boton1 round"><span></span>Validar Solicitud</button>
                </fieldset>
            </form>
        </div>

    </div>
</div><!-- full -->
