<div class="overflow">
  <div class="margin" ng-repeat="solicitude in solicitudes" 
    data-sgk-role="search" 
    data-sgk-search="{{ solicitude.code }} {{ solicitude.createdBy.profile.firstName }} {{ solicitude.createdBy.profile.lastName }} {{ solicitude.ticket.tags }} {{ solicitude.ticket.title }}">
    
    <div class="note round" data-id="{{ solicitude._id }}"  >
      <div class="t-c round" ng-class="solicitude.sla">
          <ul>
              <li ng-if="solicitude.duration && !solicitude.pausedAt">
                <div class="ico tim"></div>
                <p data-sgk-duration ng-model="solicitude.endedAt"></p>
              </li>
              <li>
                <div class="ico" ng-class="solicitude.state[role] | StateIcons"></div>
                <p>{{ solicitude.state[role] | StateSolicitude }}</p>
              </li>
              <li class="last" ng-if="solicitude.priority">
                <div class="ico" ng-class="solicitude.priority | PriorityIcons"></div>
                <p>{{ solicitude.priority | Priority }}</p>
              </li>
          </ul>
          <h4>{{ solicitude.ticket.title }}</h4>
          <ul class="full">
              <li class="light">Sol. <span>{{ solicitude.createdAt | DateFormat }}</span></li>
              <li class="light" ng-if="solicitude.startedAt">Ini. <span>{{ solicitude.startedAt | DateFormat }}</span></li>
              <!--li class="bold" ng-if="solicitude.ticket.category">
                Categoría: <span class="light">{{ solicitude.ticket.category.name }}</span>
              </li>
              <li class="light" ng-if="solicitude.ticket.segments">{{ solicitude.ticket.segments | SegmentArray }}</li>
              <li class="bold last" ng-if="solicitude.provider">
                Proveedor: <span class="light">{{ solicitude.provider.profile.company }} ({{ solicitude.provider.profile.firstName }} {{ solicitude.provider.profile.lastName }})</span>
              </li-->
          </ul>
      </div>
      <div class="t-c stats">
          <ul>
              <li class="light first"><span class="round">Code: {{ solicitude.code }}</span><a ng-if="false" href="javascript:{}" class="ico sta"></a></li>
          </ul>
      </div>
  </div>

  </div>
</div>
