<div class="modal" data-type="modal" style="display: none;">
  <div id="nueva-solicitud" class="user">
    <div class="row">
      <div class="relativo">
        <h2>{{ title }}</h2>
        <ul>
          <li class="hideshow"><a href="javascript:{}" data-sgk-down-modal><span class="down">_</span></a></li>
          <li class="close"><a href="javascript:{}"><span class="close">X</span></a></li>
        </ul>
      </div>
    </div>

    <div class="table esconder">
      <div class="relativo">
        <div data-sgk-overflow class="overflow"  >
          <div>
            <form name="form"></form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
