<div id="estado" class="sidebox">
  <h3>Estado de Solicitudes</h3>
  <ul class="bold">
    <li>
      <a href="#">
        <div class="ico tod"></div>
        Todas
        <span class="round light">120</span>
      </a>
    </li>
    <li><a href="#"><div class="ico val"></div>
            Por Validar<span class="round light">3</span></a></li>
    <li><a href="#"><div class="ico epr"></div>
            Espera Proveedor<span class="round light">3</span></a></li>
    <li><a href="#"><div class="ico pro"></div>
            En Progreso<span class="round light">5</span></a></li>
    <li><a href="#"><div class="ico esp"></div>
            En Espera<span class="round light">2</span></a></li>
    <li><a href="#"><div class="ico atr"></div>
            Atrasadas<span class="round light">2</span></a></li>
    <li><a href="#"><div class="ico pau"></div>
            En Pausa<span class="round light">2</span></a></li>
    <li><a href="#"><div class="ico fin"></div>
            Finalizadas<span class="round light">2</span></a></li>
  </ul>
</div>
