<div id="estado" class="sidebox">
  <h3>Estado de Solicitudes</h3>
  <ul class="bold">
    <li>
      <a href="javascript:{}" ng-click="filter('')">
        <div class="ico tod"></div>
        Todas
        <span class="round light">{{ statesGroups.total }}</span>
      </a>
    </li>
    <li ng-repeat="state in states" data-sgk-permission="states" data-permission-value="{{state.id}}">
      <a href="javascript:{}" ng-click="filter(state.id)">
        <div class="ico {{ statesIcons[state.id] }}"></div>
        {{ state.name }}
        <span class="round light">{{ statesGroups[state.id] || 0 }}</span>
      </a>
    </li>
  </ul>
</div>
