<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="movistarApp" data-ng-controller="CssCtrl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="movistarApp" data-ng-controller="CssCtrl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="movistarApp" data-ng-controller="CssCtrl"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="movistarApp" data-ng-controller="CssCtrl"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Gestor de tareas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link ng-if="!currentUser || !currentUser.confirmAt" rel="stylesheet" href="styles/auth.css" />
    <link ng-if="currentUser" rel="stylesheet" href="styles/fonts.css" />
    <link ng-if="currentUser" rel="stylesheet" href="styles/styles.css" />
    <link ng-if="currentUser" rel="stylesheet" href="styles/jquery.mCustomScrollbar.css" />
    <link ng-if="currentUser" rel="stylesheet" href="styles/main.css" />
    <!--[if IE]>
      <link rel="stylesheet" href="styles/ie.css" />
    <![endif]-->
  </head>
  <body data-filepicker-run ng-class="{'body-login': !currentUser}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ui-view class="wrap" id="wrap"></div>

    <!--[if lt IE 9]>
    <script src="lib/es5-shim/es5-shim.js"></script>
    <script src="lib/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src='lib/jquery-legacy/jquery.min.js' type='text/javascript'/>
    <![endif]-->

    <!--[if (gte IE 9) | (!IE)]><!-->
        <script src='lib/jquery/jquery.min.js' type='text/javascript'/>
    <!--<![endif]-->

    <script src="lib/es5-shim/es5-shim.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/json3/lib/json3.min.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-confirm-click/dist/confirmClick.js"></script>
    <script src="lib/angular-socket-io/socket.js"></script>
    <script src="lib/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="lib/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="lib/jqueryui/ui/jquery-ui.js"></script>
    <script src="lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/jshashes/hashes.min.js"></script>


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- MODULES -->
        <script src="scripts/app.js"></script>
        <script src="scripts/filepicker.js"></script>
        <!-- CONTROLLERS -->
        <script src="scripts/controllers/master.js"></script><!-- DELETE -->
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/category.js"></script>
        <script src="scripts/controllers/login.js"></script><!-- DELETE (colocar en un solo controller auth) -->
        <script src="scripts/controllers/change.js"></script><!-- DELETE (colocar en un solo controller auth) -->
        <script src="scripts/controllers/recovery.js"></script><!-- DELETE (colocar en un solo controller auth) -->
        <script src="scripts/controllers/solicitude.js"></script><!-- DELETE -->
        <!-- DIRECTIVAS DE GENERALES -->
        <script src="scripts/directives/modal.js"></script>
        <script src="scripts/directives/mongooseError.js"></script>
        <script src="scripts/directives/remember.js"></script>
        <script src="scripts/directives/resize.js"></script>
        <script src="scripts/directives/admin.js"></script>
        <!-- DIRECTIVAS DE SOLICITUDE -->
        <script src="scripts/directives/solicitude/detail.js"></script>
        <script src="scripts/directives/solicitude/list.js"></script>
        <script src="scripts/directives/solicitude/sidebar.js"></script>
        <script src="scripts/directives/solicitude/states.js"></script>
        <script src="scripts/directives/solicitude/priorities.js"></script>
        <script src="scripts/directives/solicitude/involved.js"></script>
        <script src="scripts/directives/solicitude/categories.js"></script>
        <!-- DIRECTIVAS DE USUARIO -->
        <script src="scripts/directives/user/list.js"></script>
        <script src="scripts/directives/user/detail.js"></script>
        <script src="scripts/directives/user/sidebar.js"></script>
        <!-- DIRECTIVAS DE CATEGORIA -->
        <script src="scripts/directives/category/list.js"></script>
        <script src="scripts/directives/category/detail.js"></script>
        <!-- FILTERS -->
        <script src="scripts/filters/master.js"></script>
        <!-- FACTORIES --> 
        <script src="scripts/factories/socketIO.js"></script>
        <script src="scripts/factories/params.js"></script><!-- DELETE -->
        <script src="scripts/factories/admin.js"></script><!-- DELETE (Dejar como servicios) -->
        <script src="scripts/factories/solicitude.js"></script><!-- DELETE (Dejar como servicios) -->
        <script src="scripts/factories/notification.js"></script>
        <script src="scripts/factories/localSourceData.js"></script>
        <!-- SERVICES -->
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/solicitude.js"></script>
        <script src="scripts/services/category.js"></script>
        <script src="scripts/services/notification.js"></script>
        <!-- endbuild -->


</body>
</html>
