<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Gestor de tareas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <!--[if IE]>
      <link rel="stylesheet" href="styles/ie.css" />
    <![endif]-->
  </head>
  <body ng-app="movistarApp">

  <div id="loading" style='width: 100%;height: 100%;position: absolute;top: 0;left: 0;background:#2f364a;z-index:1000;'>
    <img src="images/loader.gif"/>
  </div>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="wrap" id="wrap">

      <div id="side" data-ng-switch="module" data-filepicker-run>
        <div class="thetable">

          <div class="therowAlt">
            <div class="thecell">
              <div id="perfil" class="sidebox">
                <div class="t-c p-avatar">
                  <div>
                    <img ng-src="{{ currentUser.avatar || 'images/avatar-user.png' }}"/><div class="avperfil"></div>
                  </div>
                </div>
                <div class="t-c">
                    <p>{{ currentUser.name }}<span>{{ currentUser.role | RoleName }}</span></p>
                    <ul class="adm">
                        <li ng-controller="NotificationsCtrl">
                          <a href="javascript:{}" class="sub-not" data-sgk-submenu-notifications ><img src="images/bell.png"/>
                              <div class="cant" ng-show="notifications">{{ notifications.length || 0}}</div>
                          </a>
                          <div id="submenu" class="notifications" data-sgk-scroll>
                              <div id="notificacion" class="wrap round hide">
                                  <div class="tit-not">
                                      <span class="arrow"></span>
                                      <h3>Notificaciones</h3>
                                      <a href="javascript:{}">Marcar como leidas</a>
                                  </div>
                                  <div class="wrap" ng-repeat="notify in notifications" ng-click="open(notify._classId)">
                                      <div class="t-c avatar">
                                          <img ng-src="{{ notify.from.profile.avatar || 'images/avatar-user.png' }}"/>
                                          <div class="avnotif"></div>
                                      </div>
                                      <div class="t-c">
                                          <a href="javascript:{}" class="cerrar">X</a>
                                          <p class="avatar bold">
                                              <span>{{ notify.from.profile.firstName }} {{ notify.from.profile.lastName }}</span>
                                              <span class="regular">{{ notify.from.role | RoleName }}</span>
                                          </p>
                                          <br>
                                          <p>{{ notify.message }}</p>
                                      </div>
                                  </div>
                              </div><!-- notificaciones -->
                          </div>
                        </li>
                        <li ng-controller="OptionsCtrl">
                          <a href="javascript:{}" data-sgk-submenu-options><img src="images/gear.png"/></a>
                            <div id="submenu" class="options">
                                <div id="notificacion" class="wrap round hide">
                                    <div class="tit-not">
                                        <span class="arrow"></span>
                                        <h3>Opciones</h3>
                                    </div>
                                    <div class="wrap">
                                      <a href="javascript:{}" class="t-c" data-sgk-modal="form"
                                        data-sgk-ctrl="ProfileEditCtrl"
                                        data-sgk-tpl="partials/user/me"
                                        data-sgk-action="update">
                                        Editar perfil
                                      </a>
                                    </div>
                                    <div class="wrap">
                                      <a href="javascript:{}" ng-click="logout()" class="t-c">
                                        Salir
                                      </a>
                                    </div>
                                </div><!-- notificaciones -->
                            </div>

                        </li>
                    </ul>
                </div>
              </div>

              <div id="crear" class="sidebox">
                
                <a class="boton1 round" href="javascript:{}" data-sgk-modal="form"
                  data-sgk-ctrl="SolicitudeSaveCtrl"
                  data-sgk-tpl="partials/solicitude/new"
                  data-sgk-action="create" data-sgk-permission="solicitude" data-permission-value="create">
                  <span></span>Crear nueva solicitud
                </a>

              </div>
            </div>
          </div>

          <div class="therow">
            <div class="thecell"><!-- necesita el alto -->
              <div class="relativo" data-sgk-sidebar ng-controller="FilterCtrl">
                  
                <div class="overflow">
                  <div id="estado" class="sidebox">
                    <h3>Estado de Solicitudes</h3>
                    <ul class="bold">
                      <li ui-sref-active="active" data-id="all">
                        <a ui-sref="solicitudes">
                          <div class="ico tod"></div>
                          Todas
                          <span class="round light">{{ groups.states.total }}</span>
                        </a>
                      </li>
                      <li ng-repeat="state in states" ui-sref-active="active"  data-id="{{ state }}">
                        <a ui-sref="filter({ target: 'state', filter: state.toLowerCase() })">
                          <div class="ico" ng-class="state | StateIcons"></div>
                          {{ state | StateSolicitude }}
                          <span class="round light">{{ groups.states[state] || 0 }}</span>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div id="prioridad" class="sidebox" ng-if="currentUser.role !== 'CLIENT'">
                    <h3>Prioridad</h3>
                    <ul class="bold">
                      <li ng-repeat="p in priorities"  ui-sref-active="active" data-id="{{ p.id }}">
                        <a ui-sref="filter({ target: 'priority', filter: p.id.toLowerCase() })">
                          <div class="ico" ng-class="priorityIcons[p.id]"></div>
                          {{ p.name }}
                          <span class="round light">{{ groups.priorities[p.id] || 0 }}</span>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div id="categoria" class="sidebox" ng-if="currentUser.role !== 'CLIENT' && currentUser.role !== 'PROVIDER'">
                    <h3>Categorías</h3>
                    <ul class="bold">
                      <li ng-repeat="c in categories" ui-sref-active="active">
                        <a ui-sref="filter({ target: 'category', filter: c._id.toLowerCase() })">
                          <div class="ico"></div>
                          {{ c.name }}
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div><!-- side -->

      <div id="main" class="ui-widget-content"  data-ng-switch="module">
        <div class="wrap">

          <div id="top">
            <div class="logo">
              <img src="images/movistar.png"/>
            </div>
          </div>

          <div id="menu-admin">
            <div class="menu-admin" data-sgk-permission="administration">
              <ul>
            <!--     <li data-ng-class="{active: isActive('/inicio')}"><a ng-href="/inicio">Inicio</a></li> -->
                <li ui-sref-active="active"><a ui-sref="solicitudes">Solicitudes</a></li>
                <li ui-sref-active="active"><a href="/admin/" target="_self">Administración</a></li>
              </ul>
            </div>
          </div>

          <div ui-view class="content"></div>

        </div><!-- wrap -->

        <div id="search-form">
          <form>
            <input type="text" name="search" id="search" class="round" placeholder="Buscar Solicitud o palabra clave" data-sgk-search-input />
          </form>
        </div>

      </div><!-- main -->

    </div>

    <!--[if lt IE 9]>
    <script src="lib/es5-shim/es5-shim.js"></script>
    <script src="lib/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src='lib/jquery-legacy/jquery.min.js' type='text/javascript'/>
    <![endif]-->

    <!--[if (gte IE 9) | (!IE)]><!-->
      <script src='lib/jquery/jquery.min.js' type='text/javascript'/>
    <!--<![endif]-->

    <script src="lib/es5-shim/es5-shim.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/json3/lib/json3.min.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-confirm-click/dist/confirmClick.js"></script>
    <script src="lib/angular-socket-io/socket.js"></script>
    <script src="lib/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="lib/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="lib/jqueryui/ui/jquery-ui.js"></script>
    <script src="lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/moment/lang/es.js"></script>
    <script src="lib/jshashes/hashes.min.js"></script>


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- MODULES -->
        <script src="scripts/solicitude/app.js"></script>
        <script src="scripts/commons/services/auth.js"></script>
        <script src="scripts/filepicker.js"></script>
        <!-- FACTORIES -->
        <script src="scripts/factories/params.js"></script><!-- DELETE -->
        <script src="scripts/factories/localSourceData.js"></script>
        <!-- SERVICES -->
        <script src="scripts/commons/services/session.js"></script>
        <script src="scripts/commons/services/user.js"></script>
        <script src="scripts/commons/services/solicitude.js"></script>
        <script src="scripts/commons/services/category.js"></script>
        <script src="scripts/commons/services/user.js"></script>
        <script src="scripts/commons/services/notification.js"></script>
        <!-- CONTROLLERS -->
        <script src="scripts/commons/controllers/master.js"></script><!-- DELETE -->
        
        <script src="scripts/solicitude/controllers/solicitudes.js"></script>
        <script src="scripts/solicitude/controllers/solicitude.js"></script>
        <script src="scripts/solicitude/controllers/save.js"></script>
        <script src="scripts/solicitude/controllers/filter.js"></script>
        
        <!-- DIRECTIVAS DE GENERALES -->
        <script src="scripts/commons/directives/sgkModal.js"></script>
        <script src="scripts/directives/resize.js"></script>
        <script src="scripts/directives/admin.js"></script>
        <script src="scripts/directives/search.js"></script>
        
        <script src="scripts/commons/directives/sgkScroll.js"></script>
        <script src="scripts/solicitude/directives/sgkUploaderMulti.js"></script>
        <script src="scripts/solicitude/directives/sgkActiveHover.js"></script>
        <script src="scripts/solicitude/directives/sgkResumeParagraphs.js"></script>
        <script src="scripts/solicitude/directives/sgkActions.js"></script>
        <script src="scripts/solicitude/directives/sgkSla.js"></script>
        <script src="scripts/solicitude/directives/sgkSidebar.js"></script>

        <!-- FILTERS -->
        <script src="scripts/commons/services/filters.js"></script>
        <!-- endbuild -->


</body>
</html>
