<div class="contenedor-filtros borde">
  <div class="half">
    <ul class="lista-opt">
      <li>
        <span class="opt-check left"></span> Todos 
        <input class="hide" type="checkbox" id="check_todos">
      </li>
    </ul>
  </div>
  <div class="half">
    <ul class="menu-usuarios">
      <li><a href="javascript:{}"><span class="ico com"></span></a></li>
      <li><a href="javascript:{}"><span class="ico com"></span></a></li>
      <li><a href="javascript:{}"><span class="ico com"></span></a></li>
    </ul>
  </div>
</div>