<div class="overflow top-admin">

  <div class="margin" data-ng-repeat="category in categories">
    <div class="note round" data-ng-class="{active: $index===0}" id="works_01" data-sgk-active data-ng-click="loadCategory(category._id)">
      <div class="note-full">
        <ul class="lista-opt">
          <li>
            <span data-sgk-check class="opt-check left"></span>
            <input class="hide" type="checkbox" id="check_todos">
          </li>

          <li>
            <h3>{{ category.name }}</h3>
          </li>
        </ul>
      </div>
    </div><!-- note round -->

  </div><!-- margin -->

</div>
